.button {
  appearance: none;
  position: relative;
  display: inline-block;
  padding: 0.6em 1.45em 0.7em;
  border: none;
  border-radius: 0.35em;
  background: currentcolor;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}

.button__label {
  color: $studio-white;
}
