.examples {
  display: grid;
}

.examples--columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.examples--columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

@each $value in 12 24 36 {
  .examples--gap-#{$value} {
    @extend %examples--gap;
    grid-gap: $value * 1px;
    padding: $value * 1px;
  }
}

.example {
  overflow: hidden;

  %examples--gap & {
    border-radius: 2px;
  }
}

.example--color {
  background: currentcolor;
}
