.credit-card.is-selected {
  border-color: $studio-yellow-5 !important;
  border-left-color: $studio-yellow-10 !important;
  background: $studio-yellow-0 !important;

  .credit-card__stored-card-number {
    color: $studio-yellow-70 !important;
  }

  .credit-card__stored-card-name {
    color: $studio-yellow-50 !important;
  }

  .credit-card__stored-card-expiration-date {
    color: $studio-yellow-50 !important;
    opacity: 1;
  }
}

.credit-card__stored-card {
  position: relative;
}

.credit-card__stored-card-image {
  position: absolute;
  top: 18px;
  left: 18px;
}
