.gridicon {
  fill: currentcolor;

  &.needs-offset > use:first-child,
  &.needs-offset > g:first-child {
    transform: translate(1px, 1px);
  }

  &.needs-offset-x > use:first-child,
  &.needs-offset-x > g:first-child {
    transform: translate(1px, 0);
  }

  &.needs-offset-y > use:first-child,
  &.needs-offset-y > g:first-child {
    transform: translate(0, 1px);
  }
}
