.notice {
  background: $studio-gray-80 !important;
}

.notice__action {
  color: $studio-gray-20 !important;

  &:hover,
  &:active {
    color: $studio-gray-0 !important;
  }
}

%notice__icon-wrapper-layer::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.notice__icon-wrapper {
  width: 48px !important;

  .is-error & {
    @extend %notice__icon-wrapper-layer;
    background: $studio-red-40 !important;

    &::before {
      background: $studio-red-50;
    }
  }

  .is-generic & {
    @extend %notice__icon-wrapper-layer;
    background: $studio-gray-40 !important;

    &::before {
      background: $studio-gray-50;
    }
  }

  .is-info & {
    background: $studio-blue-40 !important;
  }

  .is-success & {
    background: $studio-green-40 !important;
  }

  .is-warning & {
    @extend %notice__icon-wrapper-layer;
    background: $studio-yellow-30 !important;

    &::before {
      background: $studio-yellow-50;
    }
  }

  .is-warning-alternative & {
    @extend %notice__icon-wrapper-layer;
    background: $studio-orange-30 !important;

    &::before {
      background: $studio-orange-50;
    }
  }

  .gridicon {
    position: relative;
    z-index: 1;
  }
}
