:root {
  --color-primary: var(--studio-woocommerce-purple-50);
  --color-primary-rgb: var(--studio-woocommerce-purple-50-rgb);
  --color-primary-dark: var(--studio-woocommerce-purple-70);
  --color-primary-dark-rgb: var(--studio-woocommerce-purple-70-rgb);
  --color-primary-light: var(--studio-woocommerce-purple-30);
  --color-primary-light-rgb: var(--studio-woocommerce-purple-30-rgb);
  --color-primary-0: var(--studio-woocommerce-purple-0);
  --color-primary-0-rgb: var(--studio-woocommerce-purple-0-rgb);
  --color-primary-50: var(--studio-woocommerce-purple-5);
  --color-primary-50-rgb: var(--studio-woocommerce-purple-5-rgb);
  --color-primary-100: var(--studio-woocommerce-purple-10);
  --color-primary-100-rgb: var(--studio-woocommerce-purple-10-rgb);
  --color-primary-200: var(--studio-woocommerce-purple-20);
  --color-primary-200-rgb: var(--studio-woocommerce-purple-20-rgb);
  --color-primary-300: var(--studio-woocommerce-purple-30);
  --color-primary-300-rgb: var(--studio-woocommerce-purple-30-rgb);
  --color-primary-400: var(--studio-woocommerce-purple-40);
  --color-primary-400-rgb: var(--studio-woocommerce-purple-40-rgb);
  --color-primary-500: var(--studio-woocommerce-purple-50);
  --color-primary-500-rgb: var(--studio-woocommerce-purple-50-rgb);
  --color-primary-600: var(--studio-woocommerce-purple-60);
  --color-primary-600-rgb: var(--studio-woocommerce-purple-60-rgb);
  --color-primary-700: var(--studio-woocommerce-purple-70);
  --color-primary-700-rgb: var(--studio-woocommerce-purple-70-rgb);
  --color-primary-800: var(--studio-woocommerce-purple-80);
  --color-primary-800-rgb: var(--studio-woocommerce-purple-80-rgb);
  --color-primary-900: var(--studio-woocommerce-purple-90);
  --color-primary-900-rgb: var(--studio-woocommerce-purple-90-rgb);

  --color-accent: var(--studio-pink-50);
  --color-accent-rgb: var(--studio-pink-50-rgb);
  --color-accent-dark: var(--studio-pink-70);
  --color-accent-dark-rgb: var(--studio-pink-70-rgb);
  --color-accent-light: var(--studio-pink-30);
  --color-accent-light-rgb: var(--studio-pink-30-rgb);
  --color-accent-0: var(--studio-pink-0);
  --color-accent-0-rgb: var(--studio-pink-0-rgb);
  --color-accent-50: var(--studio-pink-5);
  --color-accent-50-rgb: var(--studio-pink-5-rgb);
  --color-accent-100: var(--studio-pink-10);
  --color-accent-100-rgb: var(--studio-pink-10-rgb);
  --color-accent-200: var(--studio-pink-20);
  --color-accent-200-rgb: var(--studio-pink-20-rgb);
  --color-accent-300: var(--studio-pink-30);
  --color-accent-300-rgb: var(--studio-pink-30-rgb);
  --color-accent-400: var(--studio-pink-40);
  --color-accent-400-rgb: var(--studio-pink-40-rgb);
  --color-accent-500: var(--studio-pink-50);
  --color-accent-500-rgb: var(--studio-pink-50-rgb);
  --color-accent-600: var(--studio-pink-60);
  --color-accent-600-rgb: var(--studio-pink-60-rgb);
  --color-accent-700: var(--studio-pink-70);
  --color-accent-700-rgb: var(--studio-pink-70-rgb);
  --color-accent-800: var(--studio-pink-80);
  --color-accent-800-rgb: var(--studio-pink-80-rgb);
  --color-accent-900: var(--studio-pink-90);
  --color-accent-900-rgb: var(--studio-pink-90-rgb);

  --color-white: var(--studio-white);
  --color-white-rgb: var(--studio-white-rgb);
  --color-black: var(--studio-black);
  --color-black-rgb: var(--studio-black-rgb);
  --color-neutral: var(--studio-gray-50);
  --color-neutral-rgb: var(--studio-gray-50-rgb);
  --color-neutral-dark: var(--studio-gray-70);
  --color-neutral-dark-rgb: var(--studio-gray-70-rgb);
  --color-neutral-light: var(--studio-gray-30);
  --color-neutral-light-rgb: var(--studio-gray-30-rgb);
  --color-neutral-0: var(--studio-gray-0);
  --color-neutral-0-rgb: var(--studio-gray-0-rgb);
  --color-neutral-50: var(--studio-gray-5);
  --color-neutral-50-rgb: var(--studio-gray-5-rgb);
  --color-neutral-100: var(--studio-gray-10);
  --color-neutral-100-rgb: var(--studio-gray-10-rgb);
  --color-neutral-200: var(--studio-gray-20);
  --color-neutral-200-rgb: var(--studio-gray-20-rgb);
  --color-neutral-300: var(--studio-gray-30);
  --color-neutral-300-rgb: var(--studio-gray-30-rgb);
  --color-neutral-400: var(--studio-gray-40);
  --color-neutral-400-rgb: var(--studio-gray-40-rgb);
  --color-neutral-500: var(--studio-gray-50);
  --color-neutral-500-rgb: var(--studio-gray-50-rgb);
  --color-neutral-600: var(--studio-gray-60);
  --color-neutral-600-rgb: var(--studio-gray-60-rgb);
  --color-neutral-700: var(--studio-gray-70);
  --color-neutral-700-rgb: var(--studio-gray-70-rgb);
  --color-neutral-800: var(--studio-gray-80);
  --color-neutral-800-rgb: var(--studio-gray-80-rgb);
  --color-neutral-900: var(--studio-gray-90);
  --color-neutral-900-rgb: var(--studio-gray-90-rgb);

  --color-success: var(--studio-green-50);
  --color-success-rgb: var(--studio-green-50-rgb);
  --color-success-dark: var(--studio-green-70);
  --color-success-dark-rgb: var(--studio-green-70-rgb);
  --color-success-light: var(--studio-green-30);
  --color-success-light-rgb: var(--studio-green-30-rgb);
  --color-success-0: var(--studio-green-0);
  --color-success-0-rgb: var(--studio-green-0-rgb);
  --color-success-50: var(--studio-green-5);
  --color-success-50-rgb: var(--studio-green-5-rgb);
  --color-success-100: var(--studio-green-10);
  --color-success-100-rgb: var(--studio-green-10-rgb);
  --color-success-200: var(--studio-green-20);
  --color-success-200-rgb: var(--studio-green-20-rgb);
  --color-success-300: var(--studio-green-30);
  --color-success-300-rgb: var(--studio-green-30-rgb);
  --color-success-400: var(--studio-green-40);
  --color-success-400-rgb: var(--studio-green-40-rgb);
  --color-success-500: var(--studio-green-50);
  --color-success-500-rgb: var(--studio-green-50-rgb);
  --color-success-600: var(--studio-green-60);
  --color-success-600-rgb: var(--studio-green-60-rgb);
  --color-success-700: var(--studio-green-70);
  --color-success-700-rgb: var(--studio-green-70-rgb);
  --color-success-800: var(--studio-green-80);
  --color-success-800-rgb: var(--studio-green-80-rgb);
  --color-success-900: var(--studio-green-90);
  --color-success-900-rgb: var(--studio-green-90-rgb);

  --color-warning: var(--studio-yellow-50);
  --color-warning-rgb: var(--studio-yellow-50-rgb);
  --color-warning-dark: var(--studio-yellow-70);
  --color-warning-dark-rgb: var(--studio-yellow-70-rgb);
  --color-warning-light: var(--studio-yellow-30);
  --color-warning-light-rgb: var(--studio-yellow-30-rgb);
  --color-warning-0: var(--studio-yellow-0);
  --color-warning-0-rgb: var(--studio-yellow-0-rgb);
  --color-warning-50: var(--studio-yellow-5);
  --color-warning-50-rgb: var(--studio-yellow-5-rgb);
  --color-warning-100: var(--studio-yellow-10);
  --color-warning-100-rgb: var(--studio-yellow-10-rgb);
  --color-warning-200: var(--studio-yellow-20);
  --color-warning-200-rgb: var(--studio-yellow-20-rgb);
  --color-warning-300: var(--studio-yellow-30);
  --color-warning-300-rgb: var(--studio-yellow-30-rgb);
  --color-warning-400: var(--studio-yellow-40);
  --color-warning-400-rgb: var(--studio-yellow-40-rgb);
  --color-warning-500: var(--studio-yellow-50);
  --color-warning-500-rgb: var(--studio-yellow-50-rgb);
  --color-warning-600: var(--studio-yellow-60);
  --color-warning-600-rgb: var(--studio-yellow-60-rgb);
  --color-warning-700: var(--studio-yellow-70);
  --color-warning-700-rgb: var(--studio-yellow-70-rgb);
  --color-warning-800: var(--studio-yellow-80);
  --color-warning-800-rgb: var(--studio-yellow-80-rgb);
  --color-warning-900: var(--studio-yellow-90);
  --color-warning-900-rgb: var(--studio-yellow-90-rgb);

  --color-error: var(--studio-red-50);
  --color-error-rgb: var(--studio-red-50-rgb);
  --color-error-dark: var(--studio-red-70);
  --color-error-dark-rgb: var(--studio-red-70-rgb);
  --color-error-light: var(--studio-red-30);
  --color-error-light-rgb: var(--studio-red-30-rgb);
  --color-error-0: var(--studio-red-0);
  --color-error-0-rgb: var(--studio-red-0-rgb);
  --color-error-50: var(--studio-red-5);
  --color-error-50-rgb: var(--studio-red-5-rgb);
  --color-error-100: var(--studio-red-10);
  --color-error-100-rgb: var(--studio-red-10-rgb);
  --color-error-200: var(--studio-red-20);
  --color-error-200-rgb: var(--studio-red-20-rgb);
  --color-error-300: var(--studio-red-30);
  --color-error-300-rgb: var(--studio-red-30-rgb);
  --color-error-400: var(--studio-red-40);
  --color-error-400-rgb: var(--studio-red-40-rgb);
  --color-error-500: var(--studio-red-50);
  --color-error-500-rgb: var(--studio-red-50-rgb);
  --color-error-600: var(--studio-red-60);
  --color-error-600-rgb: var(--studio-red-60-rgb);
  --color-error-700: var(--studio-red-70);
  --color-error-700-rgb: var(--studio-red-70-rgb);
  --color-error-800: var(--studio-red-80);
  --color-error-800-rgb: var(--studio-red-80-rgb);
  --color-error-900: var(--studio-red-90);
  --color-error-900-rgb: var(--studio-red-90-rgb);

  --color-surface: var(--studio-white);
  --color-surface-backdrop: var(--studio-gray-0);
  --color-surface-backdrop-rgb: var(--studio-gray-0-rgb);

  --color-text: var(--studio-gray-80);
  --color-text-subtle: var(--studio-gray-50);

  --color-border: var(--color-neutral-200);
  --color-border-subtle: var(--color-neutral-50);
  --color-border-shadow: var(--color-neutral-0);

  --color-link: var(--studio-woocommerce-purple-50);
  --color-link-rgb: var(--studio-woocommerce-purple-50-rgb);
  --color-link-dark: var(--studio-woocommerce-purple-70);
  --color-link-dark-rgb: var(--studio-woocommerce-purple-70-rgb);
  --color-link-light: var(--studio-woocommerce-purple-30);
  --color-link-light-rgb: var(--studio-woocommerce-purple-30-rgb);
  --color-link-0: var(--studio-woocommerce-purple-0);
  --color-link-0-rgb: var(--studio-woocommerce-purple-0-rgb);
  --color-link-50: var(--studio-woocommerce-purple-5);
  --color-link-50-rgb: var(--studio-woocommerce-purple-5-rgb);
  --color-link-100: var(--studio-woocommerce-purple-10);
  --color-link-100-rgb: var(--studio-woocommerce-purple-10-rgb);
  --color-link-200: var(--studio-woocommerce-purple-20);
  --color-link-200-rgb: var(--studio-woocommerce-purple-20-rgb);
  --color-link-300: var(--studio-woocommerce-purple-30);
  --color-link-300-rgb: var(--studio-woocommerce-purple-30-rgb);
  --color-link-400: var(--studio-woocommerce-purple-40);
  --color-link-400-rgb: var(--studio-woocommerce-purple-40-rgb);
  --color-link-500: var(--studio-woocommerce-purple-50);
  --color-link-500-rgb: var(--studio-woocommerce-purple-50-rgb);
  --color-link-600: var(--studio-woocommerce-purple-60);
  --color-link-600-rgb: var(--studio-woocommerce-purple-60-rgb);
  --color-link-700: var(--studio-woocommerce-purple-70);
  --color-link-700-rgb: var(--studio-woocommerce-purple-70-rgb);
  --color-link-800: var(--studio-woocommerce-purple-80);
  --color-link-800-rgb: var(--studio-woocommerce-purple-80-rgb);
  --color-link-900: var(--studio-woocommerce-purple-90);
  --color-link-900-rgb: var(--studio-woocommerce-purple-90-rgb);

  --color-wpcom: var(--studio-wordpress-blue);
  --color-jetpack: var(--studio-jetpack-green);
  --color-jetpack-light: var(--studio-jetpack-green-20);
  --color-jetpack-dark: var(--studio-jetpack-green-50);
  --color-jetpack-400: var(--studio-jetpack-green-30);
  --color-jetpack-onboarding-text: var(--studio-white);
  --color-jetpack-onboarding-background: #1d232f;

  --color-email: #f8f8f8;
  --color-eventbrite: #ff8000;
  --color-facebook: #39579a;
  --color-gplus: #df4a32;
  --color-google: #4285F4;
  --color-instagram: #d93174;
  --color-linkedin: #0976b4;
  --color-pinterest: #cc2127;
  --color-pocket: #ee4256;
  --color-print: #f8f8f8;
  --color-reddit: #5f99cf;
  --color-skype: #00aff0;
  --color-stumbleupon: #eb4924;
  --color-telegram: #0088cc;
  --color-tumblr: #35465c;
  --color-twitter: #55acee;
  --color-whatsapp: #43d854;
  --color-wordpress-org: #585c60;

  --color-plan-free: var(--studio-gray-50);
  --color-plan-blogger: var(--studio-gray-50);
  --color-plan-personal: var(--studio-blue-50);
  --color-plan-premium: var(--studio-yellow-50);
  --color-plan-business: var(--studio-gray-50);
  --color-plan-ecommerce: var(--studio-woocommerce-purple-50);
  --color-jetpack-plan-personal: var(--studio-yellow-50);
  --color-jetpack-plan-premium: var(--studio-jetpack-green-50);
  --color-jetpack-plan-professional: var(--studio-woocommerce-purple-50);

  --color-section-nav-item-background-hover: var(--studio-woocommerce-purple-0);
  --color-themes-active-text: var(--studio-woocommerce-purple-0);
  --color-themes-active-text-rgb: var(--studio-woocommerce-purple-0-rgb);

  --color-button-primary-background-hover: var(--studio-pink-40);
  --color-button-primary-scary-background-hover: var(--studio-red-40);

  --masterbar-background: var(--studio-woocommerce-purple-60);
  --masterbar-border-color: var(--studio-woocommerce-purple-70);
  --masterbar-color: var(--studio-white);
  --masterbar-item-hover-background: var(--studio-woocommerce-purple-70);
  --masterbar-item-active-background: var(--studio-woocommerce-purple-90);
  --masterbar-item-new-editor-background: var(--studio-gray-50);
  --masterbar-item-new-editor-hover-background: var(--studio-gray-40);
  --masterbar-toggle-drafts-editor-background: var(--studio-gray-40);
  --masterbar-toggle-drafts-editor-border-color: var(--studio-gray-10);
  --masterbar-toggle-drafts-editor-hover-background: var(--studio-gray-40);

  --sidebar-background: var(--studio-white);
  --sidebar-background-gradient: var(--studio-white-rgb);
  --sidebar-secondary-background: var(--studio-white);
  --sidebar-secondary-background-gradient: var(--studio-white-rgb);
  --sidebar-border-color: var(--studio-gray-5);
  --sidebar-text-color: var(--studio-gray-80);
  --sidebar-gridicon-fill: var(--studio-gray-50);
  --sidebar-heading-color: var(--studio-gray-50);
  --sidebar-footer-button-color: var(--studio-gray-70);
  --sidebar-menu-link-secondary-text-color: var(--studio-gray-70);
  --sidebar-menu-a-first-child-after-background: var(--studio-white-rgb);
  --sidebar-menu-selected-background-color: var(--studio-woocommerce-purple-5);
  --sidebar-menu-selected-a-color: var(--color-primary);
  --sidebar-menu-selected-a-first-child-after-background: var(--studio-woocommerce-purple-5-rgb);
  --sidebar-menu-hover-background: var(--studio-gray-5);
  --sidebar-menu-hover-background-gradient: var(--studio-gray-5-rgb);
  --sidebar-menu-hover-color: var(--studio-gray-80);

  --color-podcasting: #9b4dd5;

  --color-gray: var(--studio-gray);
  --color-gray-rgb: var(--studio-gray-rgb);
  --color-gray-dark: var(--studio-gray-70);
  --color-gray-dark-rgb: var(--studio-gray-70-rgb);
  --color-gray-light: var(--studio-gray-30);
  --color-gray-light-rgb: var(--studio-gray-30-rgb);
  --color-gray-0: var(--studio-gray-0);
  --color-gray-0-rgb: var(--studio-gray-0-rgb);
  --color-gray-50: var(--studio-gray-5);
  --color-gray-50-rgb: var(--studio-gray-5-rgb);
  --color-gray-100: var(--studio-gray-10);
  --color-gray-100-rgb: var(--studio-gray-10-rgb);
  --color-gray-200: var(--studio-gray-20);
  --color-gray-200-rgb: var(--studio-gray-20-rgb);
  --color-gray-300: var(--studio-gray-30);
  --color-gray-300-rgb: var(--studio-gray-30-rgb);
  --color-gray-400: var(--studio-gray-40);
  --color-gray-400-rgb: var(--studio-gray-40-rgb);
  --color-gray-500: var(--studio-gray-50);
  --color-gray-500-rgb: var(--studio-gray-50-rgb);
  --color-gray-600: var(--studio-gray-60);
  --color-gray-600-rgb: var(--studio-gray-60-rgb);
  --color-gray-700: var(--studio-gray-70);
  --color-gray-700-rgb: var(--studio-gray-70-rgb);
  --color-gray-800: var(--studio-gray-80);
  --color-gray-800-rgb: var(--studio-gray-80-rgb);
  --color-gray-900: var(--studio-gray-90);
  --color-gray-900-rgb: var(--studio-gray-90-rgb);

  --color-blue: var(--studio-blue);
  --color-blue-rgb: var(--studio-blue-rgb);
  --color-blue-dark: var(--studio-blue-70);
  --color-blue-dark-rgb: var(--studio-blue-70-rgb);
  --color-blue-light: var(--studio-blue-30);
  --color-blue-light-rgb: var(--studio-blue-30-rgb);
  --color-blue-0: var(--studio-blue-0);
  --color-blue-0-rgb: var(--studio-blue-0-rgb);
  --color-blue-50: var(--studio-blue-5);
  --color-blue-50-rgb: var(--studio-blue-5-rgb);
  --color-blue-100: var(--studio-blue-10);
  --color-blue-100-rgb: var(--studio-blue-10-rgb);
  --color-blue-200: var(--studio-blue-20);
  --color-blue-200-rgb: var(--studio-blue-20-rgb);
  --color-blue-300: var(--studio-blue-30);
  --color-blue-300-rgb: var(--studio-blue-30-rgb);
  --color-blue-400: var(--studio-blue-40);
  --color-blue-400-rgb: var(--studio-blue-40-rgb);
  --color-blue-500: var(--studio-blue-50);
  --color-blue-500-rgb: var(--studio-blue-50-rgb);
  --color-blue-600: var(--studio-blue-60);
  --color-blue-600-rgb: var(--studio-blue-60-rgb);
  --color-blue-700: var(--studio-blue-70);
  --color-blue-700-rgb: var(--studio-blue-70-rgb);
  --color-blue-800: var(--studio-blue-80);
  --color-blue-800-rgb: var(--studio-blue-80-rgb);
  --color-blue-900: var(--studio-blue-90);
  --color-blue-900-rgb: var(--studio-blue-90-rgb);

  --color-hot-blue: var(--studio-blue);
  --color-hot-blue-rgb: var(--studio-blue-rgb);
  --color-hot-blue-dark: var(--studio-blue-70);
  --color-hot-blue-dark-rgb: var(--studio-blue-70-rgb);
  --color-hot-blue-light: var(--studio-blue-30);
  --color-hot-blue-light-rgb: var(--studio-blue-30-rgb);
  --color-hot-blue-0: var(--studio-blue-0);
  --color-hot-blue-0-rgb: var(--studio-blue-0-rgb);
  --color-hot-blue-50: var(--studio-blue-5);
  --color-hot-blue-50-rgb: var(--studio-blue-5-rgb);
  --color-hot-blue-100: var(--studio-blue-10);
  --color-hot-blue-100-rgb: var(--studio-blue-10-rgb);
  --color-hot-blue-200: var(--studio-blue-20);
  --color-hot-blue-200-rgb: var(--studio-blue-20-rgb);
  --color-hot-blue-300: var(--studio-blue-30);
  --color-hot-blue-300-rgb: var(--studio-blue-30-rgb);
  --color-hot-blue-400: var(--studio-blue-40);
  --color-hot-blue-400-rgb: var(--studio-blue-40-rgb);
  --color-hot-blue-500: var(--studio-blue-50);
  --color-hot-blue-500-rgb: var(--studio-blue-50-rgb);
  --color-hot-blue-600: var(--studio-blue-60);
  --color-hot-blue-600-rgb: var(--studio-blue-60-rgb);
  --color-hot-blue-700: var(--studio-blue-70);
  --color-hot-blue-700-rgb: var(--studio-blue-70-rgb);
  --color-hot-blue-800: var(--studio-blue-80);
  --color-hot-blue-800-rgb: var(--studio-blue-80-rgb);
  --color-hot-blue-900: var(--studio-blue-90);
  --color-hot-blue-900-rgb: var(--studio-blue-90-rgb);

  --color-purple: var(--studio-woocommerce-purple);
  --color-purple-rgb: var(--studio-woocommerce-purple-rgb);
  --color-purple-dark: var(--studio-woocommerce-purple-70);
  --color-purple-dark-rgb: var(--studio-woocommerce-purple-70-rgb);
  --color-purple-light: var(--studio-woocommerce-purple-30);
  --color-purple-light-rgb: var(--studio-woocommerce-purple-30-rgb);
  --color-purple-0: var(--studio-woocommerce-purple-0);
  --color-purple-0-rgb: var(--studio-woocommerce-purple-0-rgb);
  --color-purple-50: var(--studio-woocommerce-purple-5);
  --color-purple-50-rgb: var(--studio-woocommerce-purple-5-rgb);
  --color-purple-100: var(--studio-woocommerce-purple-10);
  --color-purple-100-rgb: var(--studio-woocommerce-purple-10-rgb);
  --color-purple-200: var(--studio-woocommerce-purple-20);
  --color-purple-200-rgb: var(--studio-woocommerce-purple-20-rgb);
  --color-purple-300: var(--studio-woocommerce-purple-30);
  --color-purple-300-rgb: var(--studio-woocommerce-purple-30-rgb);
  --color-purple-400: var(--studio-woocommerce-purple-40);
  --color-purple-400-rgb: var(--studio-woocommerce-purple-40-rgb);
  --color-purple-500: var(--studio-woocommerce-purple-50);
  --color-purple-500-rgb: var(--studio-woocommerce-purple-50-rgb);
  --color-purple-600: var(--studio-woocommerce-purple-60);
  --color-purple-600-rgb: var(--studio-woocommerce-purple-60-rgb);
  --color-purple-700: var(--studio-woocommerce-purple-70);
  --color-purple-700-rgb: var(--studio-woocommerce-purple-70-rgb);
  --color-purple-800: var(--studio-woocommerce-purple-80);
  --color-purple-800-rgb: var(--studio-woocommerce-purple-80-rgb);
  --color-purple-900: var(--studio-woocommerce-purple-90);
  --color-purple-900-rgb: var(--studio-woocommerce-purple-90-rgb);

  --color-hot-purple: var(--studio-woocommerce-purple);
  --color-hot-purple-rgb: var(--studio-woocommerce-purple-rgb);
  --color-hot-purple-dark: var(--studio-woocommerce-purple-70);
  --color-hot-purple-dark-rgb: var(--studio-woocommerce-purple-70-rgb);
  --color-hot-purple-light: var(--studio-woocommerce-purple-30);
  --color-hot-purple-light-rgb: var(--studio-woocommerce-purple-30-rgb);
  --color-hot-purple-0: var(--studio-woocommerce-purple-0);
  --color-hot-purple-0-rgb: var(--studio-woocommerce-purple-0-rgb);
  --color-hot-purple-50: var(--studio-woocommerce-purple-5);
  --color-hot-purple-50-rgb: var(--studio-woocommerce-purple-5-rgb);
  --color-hot-purple-100: var(--studio-woocommerce-purple-10);
  --color-hot-purple-100-rgb: var(--studio-woocommerce-purple-10-rgb);
  --color-hot-purple-200: var(--studio-woocommerce-purple-20);
  --color-hot-purple-200-rgb: var(--studio-woocommerce-purple-20-rgb);
  --color-hot-purple-300: var(--studio-woocommerce-purple-30);
  --color-hot-purple-300-rgb: var(--studio-woocommerce-purple-30-rgb);
  --color-hot-purple-400: var(--studio-woocommerce-purple-40);
  --color-hot-purple-400-rgb: var(--studio-woocommerce-purple-40-rgb);
  --color-hot-purple-500: var(--studio-woocommerce-purple-50);
  --color-hot-purple-500-rgb: var(--studio-woocommerce-purple-50-rgb);
  --color-hot-purple-600: var(--studio-woocommerce-purple-60);
  --color-hot-purple-600-rgb: var(--studio-woocommerce-purple-60-rgb);
  --color-hot-purple-700: var(--studio-woocommerce-purple-70);
  --color-hot-purple-700-rgb: var(--studio-woocommerce-purple-70-rgb);
  --color-hot-purple-800: var(--studio-woocommerce-purple-80);
  --color-hot-purple-800-rgb: var(--studio-woocommerce-purple-80-rgb);
  --color-hot-purple-900: var(--studio-woocommerce-purple-90);
  --color-hot-purple-900-rgb: var(--studio-woocommerce-purple-90-rgb);

  --color-pink: var(--studio-pink);
  --color-pink-rgb: var(--studio-pink-rgb);
  --color-pink-dark: var(--studio-pink-70);
  --color-pink-dark-rgb: var(--studio-pink-70-rgb);
  --color-pink-light: var(--studio-pink-30);
  --color-pink-light-rgb: var(--studio-pink-30-rgb);
  --color-pink-0: var(--studio-pink-0);
  --color-pink-0-rgb: var(--studio-pink-0-rgb);
  --color-pink-50: var(--studio-pink-5);
  --color-pink-50-rgb: var(--studio-pink-5-rgb);
  --color-pink-100: var(--studio-pink-10);
  --color-pink-100-rgb: var(--studio-pink-10-rgb);
  --color-pink-200: var(--studio-pink-20);
  --color-pink-200-rgb: var(--studio-pink-20-rgb);
  --color-pink-300: var(--studio-pink-30);
  --color-pink-300-rgb: var(--studio-pink-30-rgb);
  --color-pink-400: var(--studio-pink-40);
  --color-pink-400-rgb: var(--studio-pink-40-rgb);
  --color-pink-500: var(--studio-pink-50);
  --color-pink-500-rgb: var(--studio-pink-50-rgb);
  --color-pink-600: var(--studio-pink-60);
  --color-pink-600-rgb: var(--studio-pink-60-rgb);
  --color-pink-700: var(--studio-pink-70);
  --color-pink-700-rgb: var(--studio-pink-70-rgb);
  --color-pink-800: var(--studio-pink-80);
  --color-pink-800-rgb: var(--studio-pink-80-rgb);
  --color-pink-900: var(--studio-pink-90);
  --color-pink-900-rgb: var(--studio-pink-90-rgb);

  --color-hot-pink: var(--studio-pink);
  --color-hot-pink-rgb: var(--studio-pink-rgb);
  --color-hot-pink-dark: var(--studio-pink-70);
  --color-hot-pink-dark-rgb: var(--studio-pink-70-rgb);
  --color-hot-pink-light: var(--studio-pink-30);
  --color-hot-pink-light-rgb: var(--studio-pink-30-rgb);
  --color-hot-pink-0: var(--studio-pink-0);
  --color-hot-pink-0-rgb: var(--studio-pink-0-rgb);
  --color-hot-pink-50: var(--studio-pink-5);
  --color-hot-pink-50-rgb: var(--studio-pink-5-rgb);
  --color-hot-pink-100: var(--studio-pink-10);
  --color-hot-pink-100-rgb: var(--studio-pink-10-rgb);
  --color-hot-pink-200: var(--studio-pink-20);
  --color-hot-pink-200-rgb: var(--studio-pink-20-rgb);
  --color-hot-pink-300: var(--studio-pink-30);
  --color-hot-pink-300-rgb: var(--studio-pink-30-rgb);
  --color-hot-pink-400: var(--studio-pink-40);
  --color-hot-pink-400-rgb: var(--studio-pink-40-rgb);
  --color-hot-pink-500: var(--studio-pink-50);
  --color-hot-pink-500-rgb: var(--studio-pink-50-rgb);
  --color-hot-pink-600: var(--studio-pink-60);
  --color-hot-pink-600-rgb: var(--studio-pink-60-rgb);
  --color-hot-pink-700: var(--studio-pink-70);
  --color-hot-pink-700-rgb: var(--studio-pink-70-rgb);
  --color-hot-pink-800: var(--studio-pink-80);
  --color-hot-pink-800-rgb: var(--studio-pink-80-rgb);
  --color-hot-pink-900: var(--studio-pink-90);
  --color-hot-pink-900-rgb: var(--studio-pink-90-rgb);

  --color-red: var(--studio-red);
  --color-red-rgb: var(--studio-red-rgb);
  --color-red-dark: var(--studio-red-70);
  --color-red-dark-rgb: var(--studio-red-70-rgb);
  --color-red-light: var(--studio-red-30);
  --color-red-light-rgb: var(--studio-red-30-rgb);
  --color-red-0: var(--studio-red-0);
  --color-red-0-rgb: var(--studio-red-0-rgb);
  --color-red-50: var(--studio-red-5);
  --color-red-50-rgb: var(--studio-red-5-rgb);
  --color-red-100: var(--studio-red-10);
  --color-red-100-rgb: var(--studio-red-10-rgb);
  --color-red-200: var(--studio-red-20);
  --color-red-200-rgb: var(--studio-red-20-rgb);
  --color-red-300: var(--studio-red-30);
  --color-red-300-rgb: var(--studio-red-30-rgb);
  --color-red-400: var(--studio-red-40);
  --color-red-400-rgb: var(--studio-red-40-rgb);
  --color-red-500: var(--studio-red-50);
  --color-red-500-rgb: var(--studio-red-50-rgb);
  --color-red-600: var(--studio-red-60);
  --color-red-600-rgb: var(--studio-red-60-rgb);
  --color-red-700: var(--studio-red-70);
  --color-red-700-rgb: var(--studio-red-70-rgb);
  --color-red-800: var(--studio-red-80);
  --color-red-800-rgb: var(--studio-red-80-rgb);
  --color-red-900: var(--studio-red-90);
  --color-red-900-rgb: var(--studio-red-90-rgb);

  --color-hot-red: var(--studio-red);
  --color-hot-red-rgb: var(--studio-red-rgb);
  --color-hot-red-dark: var(--studio-red-70);
  --color-hot-red-dark-rgb: var(--studio-red-70-rgb);
  --color-hot-red-light: var(--studio-red-30);
  --color-hot-red-light-rgb: var(--studio-red-30-rgb);
  --color-hot-red-0: var(--studio-red-0);
  --color-hot-red-0-rgb: var(--studio-red-0-rgb);
  --color-hot-red-50: var(--studio-red-5);
  --color-hot-red-50-rgb: var(--studio-red-5-rgb);
  --color-hot-red-100: var(--studio-red-10);
  --color-hot-red-100-rgb: var(--studio-red-10-rgb);
  --color-hot-red-200: var(--studio-red-20);
  --color-hot-red-200-rgb: var(--studio-red-20-rgb);
  --color-hot-red-300: var(--studio-red-30);
  --color-hot-red-300-rgb: var(--studio-red-30-rgb);
  --color-hot-red-400: var(--studio-red-40);
  --color-hot-red-400-rgb: var(--studio-red-40-rgb);
  --color-hot-red-500: var(--studio-red-50);
  --color-hot-red-500-rgb: var(--studio-red-50-rgb);
  --color-hot-red-600: var(--studio-red-60);
  --color-hot-red-600-rgb: var(--studio-red-60-rgb);
  --color-hot-red-700: var(--studio-red-70);
  --color-hot-red-700-rgb: var(--studio-red-70-rgb);
  --color-hot-red-800: var(--studio-red-80);
  --color-hot-red-800-rgb: var(--studio-red-80-rgb);
  --color-hot-red-900: var(--studio-red-90);
  --color-hot-red-900-rgb: var(--studio-red-90-rgb);

  --color-orange: var(--studio-orange);
  --color-orange-rgb: var(--studio-orange-rgb);
  --color-orange-dark: var(--studio-orange-70);
  --color-orange-dark-rgb: var(--studio-orange-70-rgb);
  --color-orange-light: var(--studio-orange-30);
  --color-orange-light-rgb: var(--studio-orange-30-rgb);
  --color-orange-0: var(--studio-orange-0);
  --color-orange-0-rgb: var(--studio-orange-0-rgb);
  --color-orange-50: var(--studio-orange-5);
  --color-orange-50-rgb: var(--studio-orange-5-rgb);
  --color-orange-100: var(--studio-orange-10);
  --color-orange-100-rgb: var(--studio-orange-10-rgb);
  --color-orange-200: var(--studio-orange-20);
  --color-orange-200-rgb: var(--studio-orange-20-rgb);
  --color-orange-300: var(--studio-orange-30);
  --color-orange-300-rgb: var(--studio-orange-30-rgb);
  --color-orange-400: var(--studio-orange-40);
  --color-orange-400-rgb: var(--studio-orange-40-rgb);
  --color-orange-500: var(--studio-orange-50);
  --color-orange-500-rgb: var(--studio-orange-50-rgb);
  --color-orange-600: var(--studio-orange-60);
  --color-orange-600-rgb: var(--studio-orange-60-rgb);
  --color-orange-700: var(--studio-orange-70);
  --color-orange-700-rgb: var(--studio-orange-70-rgb);
  --color-orange-800: var(--studio-orange-80);
  --color-orange-800-rgb: var(--studio-orange-80-rgb);
  --color-orange-900: var(--studio-orange-90);
  --color-orange-900-rgb: var(--studio-orange-90-rgb);

  --color-hot-orange: var(--studio-orange);
  --color-hot-orange-rgb: var(--studio-orange-rgb);
  --color-hot-orange-dark: var(--studio-orange-70);
  --color-hot-orange-dark-rgb: var(--studio-orange-70-rgb);
  --color-hot-orange-light: var(--studio-orange-30);
  --color-hot-orange-light-rgb: var(--studio-orange-30-rgb);
  --color-hot-orange-0: var(--studio-orange-0);
  --color-hot-orange-0-rgb: var(--studio-orange-0-rgb);
  --color-hot-orange-50: var(--studio-orange-5);
  --color-hot-orange-50-rgb: var(--studio-orange-5-rgb);
  --color-hot-orange-100: var(--studio-orange-10);
  --color-hot-orange-100-rgb: var(--studio-orange-10-rgb);
  --color-hot-orange-200: var(--studio-orange-20);
  --color-hot-orange-200-rgb: var(--studio-orange-20-rgb);
  --color-hot-orange-300: var(--studio-orange-30);
  --color-hot-orange-300-rgb: var(--studio-orange-30-rgb);
  --color-hot-orange-400: var(--studio-orange-40);
  --color-hot-orange-400-rgb: var(--studio-orange-40-rgb);
  --color-hot-orange-500: var(--studio-orange-50);
  --color-hot-orange-500-rgb: var(--studio-orange-50-rgb);
  --color-hot-orange-600: var(--studio-orange-60);
  --color-hot-orange-600-rgb: var(--studio-orange-60-rgb);
  --color-hot-orange-700: var(--studio-orange-70);
  --color-hot-orange-700-rgb: var(--studio-orange-70-rgb);
  --color-hot-orange-800: var(--studio-orange-80);
  --color-hot-orange-800-rgb: var(--studio-orange-80-rgb);
  --color-hot-orange-900: var(--studio-orange-90);
  --color-hot-orange-900-rgb: var(--studio-orange-90-rgb);

  --color-yellow: var(--studio-yellow);
  --color-yellow-rgb: var(--studio-yellow-rgb);
  --color-yellow-dark: var(--studio-yellow-70);
  --color-yellow-dark-rgb: var(--studio-yellow-70-rgb);
  --color-yellow-light: var(--studio-yellow-30);
  --color-yellow-light-rgb: var(--studio-yellow-30-rgb);
  --color-yellow-0: var(--studio-yellow-0);
  --color-yellow-0-rgb: var(--studio-yellow-0-rgb);
  --color-yellow-50: var(--studio-yellow-5);
  --color-yellow-50-rgb: var(--studio-yellow-5-rgb);
  --color-yellow-100: var(--studio-yellow-10);
  --color-yellow-100-rgb: var(--studio-yellow-10-rgb);
  --color-yellow-200: var(--studio-yellow-20);
  --color-yellow-200-rgb: var(--studio-yellow-20-rgb);
  --color-yellow-300: var(--studio-yellow-30);
  --color-yellow-300-rgb: var(--studio-yellow-30-rgb);
  --color-yellow-400: var(--studio-yellow-40);
  --color-yellow-400-rgb: var(--studio-yellow-40-rgb);
  --color-yellow-500: var(--studio-yellow-50);
  --color-yellow-500-rgb: var(--studio-yellow-50-rgb);
  --color-yellow-600: var(--studio-yellow-60);
  --color-yellow-600-rgb: var(--studio-yellow-60-rgb);
  --color-yellow-700: var(--studio-yellow-70);
  --color-yellow-700-rgb: var(--studio-yellow-70-rgb);
  --color-yellow-800: var(--studio-yellow-80);
  --color-yellow-800-rgb: var(--studio-yellow-80-rgb);
  --color-yellow-900: var(--studio-yellow-90);
  --color-yellow-900-rgb: var(--studio-yellow-90-rgb);

  --color-hot-yellow: var(--studio-yellow);
  --color-hot-yellow-rgb: var(--studio-yellow-rgb);
  --color-hot-yellow-dark: var(--studio-yellow-70);
  --color-hot-yellow-dark-rgb: var(--studio-yellow-70-rgb);
  --color-hot-yellow-light: var(--studio-yellow-30);
  --color-hot-yellow-light-rgb: var(--studio-yellow-30-rgb);
  --color-hot-yellow-0: var(--studio-yellow-0);
  --color-hot-yellow-0-rgb: var(--studio-yellow-0-rgb);
  --color-hot-yellow-50: var(--studio-yellow-5);
  --color-hot-yellow-50-rgb: var(--studio-yellow-5-rgb);
  --color-hot-yellow-100: var(--studio-yellow-10);
  --color-hot-yellow-100-rgb: var(--studio-yellow-10-rgb);
  --color-hot-yellow-200: var(--studio-yellow-20);
  --color-hot-yellow-200-rgb: var(--studio-yellow-20-rgb);
  --color-hot-yellow-300: var(--studio-yellow-30);
  --color-hot-yellow-300-rgb: var(--studio-yellow-30-rgb);
  --color-hot-yellow-400: var(--studio-yellow-40);
  --color-hot-yellow-400-rgb: var(--studio-yellow-40-rgb);
  --color-hot-yellow-500: var(--studio-yellow-50);
  --color-hot-yellow-500-rgb: var(--studio-yellow-50-rgb);
  --color-hot-yellow-600: var(--studio-yellow-60);
  --color-hot-yellow-600-rgb: var(--studio-yellow-60-rgb);
  --color-hot-yellow-700: var(--studio-yellow-70);
  --color-hot-yellow-700-rgb: var(--studio-yellow-70-rgb);
  --color-hot-yellow-800: var(--studio-yellow-80);
  --color-hot-yellow-800-rgb: var(--studio-yellow-80-rgb);
  --color-hot-yellow-900: var(--studio-yellow-90);
  --color-hot-yellow-900-rgb: var(--studio-yellow-90-rgb);

  --color-green: var(--studio-green);
  --color-green-rgb: var(--studio-green-rgb);
  --color-green-dark: var(--studio-green-70);
  --color-green-dark-rgb: var(--studio-green-70-rgb);
  --color-green-light: var(--studio-green-30);
  --color-green-light-rgb: var(--studio-green-30-rgb);
  --color-green-0: var(--studio-green-0);
  --color-green-0-rgb: var(--studio-green-0-rgb);
  --color-green-50: var(--studio-green-5);
  --color-green-50-rgb: var(--studio-green-5-rgb);
  --color-green-100: var(--studio-green-10);
  --color-green-100-rgb: var(--studio-green-10-rgb);
  --color-green-200: var(--studio-green-20);
  --color-green-200-rgb: var(--studio-green-20-rgb);
  --color-green-300: var(--studio-green-30);
  --color-green-300-rgb: var(--studio-green-30-rgb);
  --color-green-400: var(--studio-green-40);
  --color-green-400-rgb: var(--studio-green-40-rgb);
  --color-green-500: var(--studio-green-50);
  --color-green-500-rgb: var(--studio-green-50-rgb);
  --color-green-600: var(--studio-green-60);
  --color-green-600-rgb: var(--studio-green-60-rgb);
  --color-green-700: var(--studio-green-70);
  --color-green-700-rgb: var(--studio-green-70-rgb);
  --color-green-800: var(--studio-green-80);
  --color-green-800-rgb: var(--studio-green-80-rgb);
  --color-green-900: var(--studio-green-90);
  --color-green-900-rgb: var(--studio-green-90-rgb);

  --color-hot-green: var(--studio-green);
  --color-hot-green-rgb: var(--studio-green-rgb);
  --color-hot-green-dark: var(--studio-green-70);
  --color-hot-green-dark-rgb: var(--studio-green-70-rgb);
  --color-hot-green-light: var(--studio-green-30);
  --color-hot-green-light-rgb: var(--studio-green-30-rgb);
  --color-hot-green-0: var(--studio-green-0);
  --color-hot-green-0-rgb: var(--studio-green-0-rgb);
  --color-hot-green-50: var(--studio-green-5);
  --color-hot-green-50-rgb: var(--studio-green-5-rgb);
  --color-hot-green-100: var(--studio-green-10);
  --color-hot-green-100-rgb: var(--studio-green-10-rgb);
  --color-hot-green-200: var(--studio-green-20);
  --color-hot-green-200-rgb: var(--studio-green-20-rgb);
  --color-hot-green-300: var(--studio-green-30);
  --color-hot-green-300-rgb: var(--studio-green-30-rgb);
  --color-hot-green-400: var(--studio-green-40);
  --color-hot-green-400-rgb: var(--studio-green-40-rgb);
  --color-hot-green-500: var(--studio-green-50);
  --color-hot-green-500-rgb: var(--studio-green-50-rgb);
  --color-hot-green-600: var(--studio-green-60);
  --color-hot-green-600-rgb: var(--studio-green-60-rgb);
  --color-hot-green-700: var(--studio-green-70);
  --color-hot-green-700-rgb: var(--studio-green-70-rgb);
  --color-hot-green-800: var(--studio-green-80);
  --color-hot-green-800-rgb: var(--studio-green-80-rgb);
  --color-hot-green-900: var(--studio-green-90);
  --color-hot-green-900-rgb: var(--studio-green-90-rgb);

  --color-celadon: var(--studio-celadon);
  --color-celadon-rgb: var(--studio-celadon-rgb);
  --color-celadon-dark: var(--studio-celadon-70);
  --color-celadon-dark-rgb: var(--studio-celadon-70-rgb);
  --color-celadon-light: var(--studio-celadon-30);
  --color-celadon-light-rgb: var(--studio-celadon-30-rgb);
  --color-celadon-0: var(--studio-celadon-0);
  --color-celadon-0-rgb: var(--studio-celadon-0-rgb);
  --color-celadon-50: var(--studio-celadon-5);
  --color-celadon-50-rgb: var(--studio-celadon-5-rgb);
  --color-celadon-100: var(--studio-celadon-10);
  --color-celadon-100-rgb: var(--studio-celadon-10-rgb);
  --color-celadon-200: var(--studio-celadon-20);
  --color-celadon-200-rgb: var(--studio-celadon-20-rgb);
  --color-celadon-300: var(--studio-celadon-30);
  --color-celadon-300-rgb: var(--studio-celadon-30-rgb);
  --color-celadon-400: var(--studio-celadon-40);
  --color-celadon-400-rgb: var(--studio-celadon-40-rgb);
  --color-celadon-500: var(--studio-celadon-50);
  --color-celadon-500-rgb: var(--studio-celadon-50-rgb);
  --color-celadon-600: var(--studio-celadon-60);
  --color-celadon-600-rgb: var(--studio-celadon-60-rgb);
  --color-celadon-700: var(--studio-celadon-70);
  --color-celadon-700-rgb: var(--studio-celadon-70-rgb);
  --color-celadon-800: var(--studio-celadon-80);
  --color-celadon-800-rgb: var(--studio-celadon-80-rgb);
  --color-celadon-900: var(--studio-celadon-90);
  --color-celadon-900-rgb: var(--studio-celadon-90-rgb);

  --profile-gravatar-user-secondary-info-color: var(--studio-gray-70);
}
