.button {
  appearance: none;
  position: relative;
  display: inline-block;
  padding: 6px 12px 8px;
  border: none;
  border-radius: 4px;
  background: currentcolor;
  font-family: inherit;
  font-weight: 700;
  @include text-style-properties(14);
  white-space: nowrap;
  overflow: hidden;
}

.button__label {
  color: $muriel-white;
}

.button--20 {
  padding: 11px 24px 14px;
  border-radius: 6px;
  @include text-style-properties(20);
}
