.examples {
  display: grid;
}

.examples--columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.examples--columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.example {
  overflow: hidden;
}

.examples--gap {
  grid-gap: 12px;
  padding: 12px;

  & > .example {
    border-radius: 2px;
  }
}
