.screen {
  position: relative;
  height: 592px;
}

.screen__body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.screen__top {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -10px;
  left: -10px;
  padding: 0 10px;
  box-shadow:
    0 1px 3px      rgba($studio-gray-100, 0.20),
    0 1px 1px      rgba($studio-gray-100, 0.14),
    0 2px 1px -1px rgba($studio-gray-100, 0.12);

  .screen--dark-theme & {
    box-shadow:
      0 1px 3px      rgba($studio-black, 0.20),
      0 1px 1px      rgba($studio-black, 0.14),
      0 2px 1px -1px rgba($studio-black, 0.12);
  }
}

.screen__container {
  position: absolute;
  z-index: 1;
  right: 8px;
  left: 8px;
  border-radius: 2px;
  background: $studio-white;
  box-shadow:
    0 1px 2px rgba($studio-gray-100, 0.20),
    0 1px 3px rgba($studio-gray-100, 0.12);
  overflow: hidden;

  .screen--dark-theme & {
    background: $studio-gray-90;
    box-shadow:
      0 1px 2px rgba($studio-black, 0.20),
      0 1px 3px rgba($studio-black, 0.12);
  }
}

.screen__bar {
  position: absolute;
  z-index: 2;
  right: 16px;
  bottom: 16px;
  left: 16px;
  border-radius: 4px;
  box-shadow:
    0 3px 5px -1px rgba($studio-gray-100, 0.20),
    0 6px 10px     rgba($studio-gray-100, 0.14),
    0 1px 18px     rgba($studio-gray-100, 0.12);
  overflow: hidden;

  .screen--dark-theme & {
    box-shadow:
    0 3px 5px -1px rgba($studio-black, 0.20),
    0 6px 10px     rgba($studio-black, 0.14),
    0 1px 18px     rgba($studio-black, 0.12);
  }
}
