:root {
  --color-primary: #{$muriel-product-blue-60};
  --color-primary-rgb: #{hex-to-rgb($muriel-product-blue-60)};
  --color-primary-dark: #{$muriel-product-blue-70};
  --color-primary-dark-rgb: #{hex-to-rgb($muriel-product-blue-70)};
  --color-primary-light: #{$muriel-product-blue-50};
  --color-primary-light-rgb: #{hex-to-rgb($muriel-product-blue-50)};
  --color-primary-0: #{$muriel-product-blue-0};
  --color-primary-0-rgb: #{hex-to-rgb($muriel-product-blue-0)};
  --color-primary-50: #{$muriel-product-blue-5};
  --color-primary-50-rgb: #{hex-to-rgb($muriel-product-blue-5)};
  --color-primary-100: #{$muriel-product-blue-10};
  --color-primary-100-rgb: #{hex-to-rgb($muriel-product-blue-10)};
  --color-primary-200: #{$muriel-product-blue-20};
  --color-primary-200-rgb: #{hex-to-rgb($muriel-product-blue-20)};
  --color-primary-300: #{$muriel-product-blue-40};
  --color-primary-300-rgb: #{hex-to-rgb($muriel-product-blue-40)};
  --color-primary-400: #{$muriel-product-blue-50};
  --color-primary-400-rgb: #{hex-to-rgb($muriel-product-blue-50)};
  --color-primary-500: #{$muriel-product-blue-60};
  --color-primary-500-rgb: #{hex-to-rgb($muriel-product-blue-60)};
  --color-primary-600: #{$muriel-product-blue-70};
  --color-primary-600-rgb: #{hex-to-rgb($muriel-product-blue-70)};
  --color-primary-700: #{$muriel-product-blue-80};
  --color-primary-700-rgb: #{hex-to-rgb($muriel-product-blue-80)};
  --color-primary-800: #{$muriel-product-blue-90};
  --color-primary-800-rgb: #{hex-to-rgb($muriel-product-blue-90)};
  --color-primary-900: #{$muriel-product-blue-100};
  --color-primary-900-rgb: #{hex-to-rgb($muriel-product-blue-100)};

  --color-accent: #{$muriel-pink-60};
  --color-accent-rgb: #{hex-to-rgb($muriel-pink-60)};
  --color-accent-dark: #{$muriel-pink-70};
  --color-accent-dark-rgb: #{hex-to-rgb($muriel-pink-70)};
  --color-accent-light: #{$muriel-pink-50};
  --color-accent-light-rgb: #{hex-to-rgb($muriel-pink-50)};
  --color-accent-0: #{$muriel-pink-0};
  --color-accent-0-rgb: #{hex-to-rgb($muriel-pink-0)};
  --color-accent-50: #{$muriel-pink-5};
  --color-accent-50-rgb: #{hex-to-rgb($muriel-pink-5)};
  --color-accent-100: #{$muriel-pink-10};
  --color-accent-100-rgb: #{hex-to-rgb($muriel-pink-10)};
  --color-accent-200: #{$muriel-pink-20};
  --color-accent-200-rgb: #{hex-to-rgb($muriel-pink-20)};
  --color-accent-300: #{$muriel-pink-40};
  --color-accent-300-rgb: #{hex-to-rgb($muriel-pink-40)};
  --color-accent-400: #{$muriel-pink-50};
  --color-accent-400-rgb: #{hex-to-rgb($muriel-pink-50)};
  --color-accent-500: #{$muriel-pink-60};
  --color-accent-500-rgb: #{hex-to-rgb($muriel-pink-60)};
  --color-accent-600: #{$muriel-pink-70};
  --color-accent-600-rgb: #{hex-to-rgb($muriel-pink-70)};
  --color-accent-700: #{$muriel-pink-80};
  --color-accent-700-rgb: #{hex-to-rgb($muriel-pink-80)};
  --color-accent-800: #{$muriel-pink-90};
  --color-accent-800-rgb: #{hex-to-rgb($muriel-pink-90)};
  --color-accent-900: #{$muriel-pink-100};
  --color-accent-900-rgb: #{hex-to-rgb($muriel-pink-100)};

  --color-white: #{$muriel-white};
  --color-white-rgb: #{hex-to-rgb($muriel-white)};
  --color-black: #000;
  --color-black-rgb: #{hex-to-rgb(#000)};
  --color-neutral: #{$muriel-gray-60};
  --color-neutral-rgb: #{hex-to-rgb($muriel-gray-60)};
  --color-neutral-dark: #{$muriel-gray-70};
  --color-neutral-dark-rgb: #{hex-to-rgb($muriel-gray-70)};
  --color-neutral-light: #{$muriel-gray-50};
  --color-neutral-light-rgb: #{hex-to-rgb($muriel-gray-50)};
  --color-neutral-0: #{$muriel-gray-0};
  --color-neutral-0-rgb: #{hex-to-rgb($muriel-gray-0)};
  --color-neutral-50: #{$muriel-gray-5};
  --color-neutral-50-rgb: #{hex-to-rgb($muriel-gray-5)};
  --color-neutral-100: #{$muriel-gray-10};
  --color-neutral-100-rgb: #{hex-to-rgb($muriel-gray-10)};
  --color-neutral-200: #{$muriel-gray-20};
  --color-neutral-200-rgb: #{hex-to-rgb($muriel-gray-20)};
  --color-neutral-300: #{$muriel-gray-40};
  --color-neutral-300-rgb: #{hex-to-rgb($muriel-gray-40)};
  --color-neutral-400: #{$muriel-gray-50};
  --color-neutral-400-rgb: #{hex-to-rgb($muriel-gray-50)};
  --color-neutral-500: #{$muriel-gray-60};
  --color-neutral-500-rgb: #{hex-to-rgb($muriel-gray-60)};
  --color-neutral-600: #{$muriel-gray-70};
  --color-neutral-600-rgb: #{hex-to-rgb($muriel-gray-70)};
  --color-neutral-700: #{$muriel-gray-80};
  --color-neutral-700-rgb: #{hex-to-rgb($muriel-gray-80)};
  --color-neutral-800: #{$muriel-gray-90};
  --color-neutral-800-rgb: #{hex-to-rgb($muriel-gray-90)};
  --color-neutral-900: #{$muriel-gray-100};
  --color-neutral-900-rgb: #{hex-to-rgb($muriel-gray-100)};

  --color-success: #{$muriel-green-50};
  --color-success-rgb: #{hex-to-rgb($muriel-green-50)};
  --color-success-dark: #{$muriel-green-70};
  --color-success-dark-rgb: #{hex-to-rgb($muriel-green-70)};
  --color-success-light: #{$muriel-green-30};
  --color-success-light-rgb: #{hex-to-rgb($muriel-green-30)};
  --color-success-0: #{$muriel-green-0};
  --color-success-0-rgb: #{hex-to-rgb($muriel-green-0)};
  --color-success-50: #{$muriel-green-5};
  --color-success-50-rgb: #{hex-to-rgb($muriel-green-5)};
  --color-success-100: #{$muriel-green-10};
  --color-success-100-rgb: #{hex-to-rgb($muriel-green-10)};
  --color-success-200: #{$muriel-green-20};
  --color-success-200-rgb: #{hex-to-rgb($muriel-green-20)};
  --color-success-300: #{$muriel-green-30};
  --color-success-300-rgb: #{hex-to-rgb($muriel-green-30)};
  --color-success-400: #{$muriel-green-40};
  --color-success-400-rgb: #{hex-to-rgb($muriel-green-40)};
  --color-success-500: #{$muriel-green-50};
  --color-success-500-rgb: #{hex-to-rgb($muriel-green-50)};
  --color-success-600: #{$muriel-green-60};
  --color-success-600-rgb: #{hex-to-rgb($muriel-green-60)};
  --color-success-700: #{$muriel-green-70};
  --color-success-700-rgb: #{hex-to-rgb($muriel-green-70)};
  --color-success-800: #{$muriel-green-80};
  --color-success-800-rgb: #{hex-to-rgb($muriel-green-80)};
  --color-success-900: #{$muriel-green-90};
  --color-success-900-rgb: #{hex-to-rgb($muriel-green-90)};

  --color-warning: #{$muriel-yellow-50};
  --color-warning-rgb: #{hex-to-rgb($muriel-yellow-50)};
  --color-warning-dark: #{$muriel-yellow-70};
  --color-warning-dark-rgb: #{hex-to-rgb($muriel-yellow-70)};
  --color-warning-light: #{$muriel-yellow-30};
  --color-warning-light-rgb: #{hex-to-rgb($muriel-yellow-30)};
  --color-warning-0: #{$muriel-yellow-0};
  --color-warning-0-rgb: #{hex-to-rgb($muriel-yellow-0)};
  --color-warning-50: #{$muriel-yellow-5};
  --color-warning-50-rgb: #{hex-to-rgb($muriel-yellow-5)};
  --color-warning-100: #{$muriel-yellow-10};
  --color-warning-100-rgb: #{hex-to-rgb($muriel-yellow-10)};
  --color-warning-200: #{$muriel-yellow-20};
  --color-warning-200-rgb: #{hex-to-rgb($muriel-yellow-20)};
  --color-warning-300: #{$muriel-yellow-30};
  --color-warning-300-rgb: #{hex-to-rgb($muriel-yellow-30)};
  --color-warning-400: #{$muriel-yellow-40};
  --color-warning-400-rgb: #{hex-to-rgb($muriel-yellow-40)};
  --color-warning-500: #{$muriel-yellow-50};
  --color-warning-500-rgb: #{hex-to-rgb($muriel-yellow-50)};
  --color-warning-600: #{$muriel-yellow-60};
  --color-warning-600-rgb: #{hex-to-rgb($muriel-yellow-60)};
  --color-warning-700: #{$muriel-yellow-70};
  --color-warning-700-rgb: #{hex-to-rgb($muriel-yellow-70)};
  --color-warning-800: #{$muriel-yellow-80};
  --color-warning-800-rgb: #{hex-to-rgb($muriel-yellow-80)};
  --color-warning-900: #{$muriel-yellow-90};
  --color-warning-900-rgb: #{hex-to-rgb($muriel-yellow-90)};

  --color-error: #{$muriel-red-50};
  --color-error-rgb: #{hex-to-rgb($muriel-red-50)};
  --color-error-dark: #{$muriel-red-70};
  --color-error-dark-rgb: #{hex-to-rgb($muriel-red-70)};
  --color-error-light: #{$muriel-red-30};
  --color-error-light-rgb: #{hex-to-rgb($muriel-red-30)};
  --color-error-0: #{$muriel-red-0};
  --color-error-0-rgb: #{hex-to-rgb($muriel-red-0)};
  --color-error-50: #{$muriel-red-5};
  --color-error-50-rgb: #{hex-to-rgb($muriel-red-5)};
  --color-error-100: #{$muriel-red-10};
  --color-error-100-rgb: #{hex-to-rgb($muriel-red-10)};
  --color-error-200: #{$muriel-red-20};
  --color-error-200-rgb: #{hex-to-rgb($muriel-red-20)};
  --color-error-300: #{$muriel-red-30};
  --color-error-300-rgb: #{hex-to-rgb($muriel-red-30)};
  --color-error-400: #{$muriel-red-40};
  --color-error-400-rgb: #{hex-to-rgb($muriel-red-40)};
  --color-error-500: #{$muriel-red-50};
  --color-error-500-rgb: #{hex-to-rgb($muriel-red-50)};
  --color-error-600: #{$muriel-red-60};
  --color-error-600-rgb: #{hex-to-rgb($muriel-red-60)};
  --color-error-700: #{$muriel-red-70};
  --color-error-700-rgb: #{hex-to-rgb($muriel-red-70)};
  --color-error-800: #{$muriel-red-80};
  --color-error-800-rgb: #{hex-to-rgb($muriel-red-80)};
  --color-error-900: #{$muriel-red-90};
  --color-error-900-rgb: #{hex-to-rgb($muriel-red-90)};

  --color-surface: #{$muriel-white};
  --color-surface-backdrop: #{$muriel-gray-0};
  --color-surface-backdrop-rgb: #{hex-to-rgb($muriel-gray-0)};

  --color-text: #{$muriel-gray-80};
  --color-text-subtle: #{$muriel-gray-50};

  --color-border: var(--color-neutral-200);
  --color-border-subtle: var(--color-neutral-50);
  --color-border-shadow: var(--color-neutral-0);

  --color-link: #{$muriel-product-blue-50};
  --color-link-rgb: #{hex-to-rgb($muriel-product-blue-50)};
  --color-link-dark: #{$muriel-product-blue-70};
  --color-link-dark-rgb: #{hex-to-rgb($muriel-product-blue-70)};
  --color-link-light: #{$muriel-product-blue-30};
  --color-link-light-rgb: #{hex-to-rgb($muriel-product-blue-30)};
  --color-link-0: #{$muriel-product-blue-0};
  --color-link-0-rgb: #{hex-to-rgb($muriel-product-blue-0)};
  --color-link-50: #{$muriel-product-blue-5};
  --color-link-50-rgb: #{hex-to-rgb($muriel-product-blue-5)};
  --color-link-100: #{$muriel-product-blue-10};
  --color-link-100-rgb: #{hex-to-rgb($muriel-product-blue-10)};
  --color-link-200: #{$muriel-product-blue-20};
  --color-link-200-rgb: #{hex-to-rgb($muriel-product-blue-20)};
  --color-link-300: #{$muriel-product-blue-30};
  --color-link-300-rgb: #{hex-to-rgb($muriel-product-blue-30)};
  --color-link-400: #{$muriel-product-blue-40};
  --color-link-400-rgb: #{hex-to-rgb($muriel-product-blue-40)};
  --color-link-500: #{$muriel-product-blue-50};
  --color-link-500-rgb: #{hex-to-rgb($muriel-product-blue-50)};
  --color-link-600: #{$muriel-product-blue-60};
  --color-link-600-rgb: #{hex-to-rgb($muriel-product-blue-60)};
  --color-link-700: #{$muriel-product-blue-70};
  --color-link-700-rgb: #{hex-to-rgb($muriel-product-blue-70)};
  --color-link-800: #{$muriel-product-blue-80};
  --color-link-800-rgb: #{hex-to-rgb($muriel-product-blue-80)};
  --color-link-900: #{$muriel-product-blue-90};
  --color-link-900-rgb: #{hex-to-rgb($muriel-product-blue-90)};

  --color-wpcom: #{$muriel-brand-blue-50};
  --color-jetpack: #{$muriel-green-40};
  --color-jetpack-light: #{$muriel-green-20};
  --color-jetpack-dark: #{$muriel-green-50};
  --color-jetpack-400: #{$muriel-green-30};
  --color-jetpack-onboarding-text: #{$muriel-white};
  --color-jetpack-onboarding-background: #1d232f;

  --color-email: #f8f8f8;
  --color-eventbrite: #ff8000;
  --color-facebook: #39579a;
  --color-gplus: #df4a32;
  --color-instagram: #d93174;
  --color-linkedin: #0976b4;
  --color-pinterest: #cc2127;
  --color-pocket: #ee4256;
  --color-print: #f8f8f8;
  --color-reddit: #5f99cf;
  --color-skype: #00aff0;
  --color-stumbleupon: #eb4924;
  --color-telegram: #0088cc;
  --color-tumblr: #35465c;
  --color-twitter: #55acee;
  --color-whatsapp: #43d854;
  --color-wordpress-org: #585c60;

  --color-plan-free: #{$muriel-gray-50};
  --color-plan-blogger: #{$muriel-gray-50};
  --color-plan-personal: var(--color-wpcom);
  --color-plan-premium: #{$muriel-yellow-50};
  --color-plan-business: #{$muriel-gray-50};
  --color-plan-ecommerce: #{$muriel-purple-50};
  --color-jetpack-plan-personal: #{$muriel-yellow-50};
  --color-jetpack-plan-premium: #{$muriel-green-50};
  --color-jetpack-plan-professional: #{$muriel-purple-50};

  --color-section-nav-item-background-hover: #{$muriel-product-blue-0};
  --color-themes-active-text: #{$muriel-product-blue-0};
  --color-themes-active-text-rgb: #{hex-to-rgb($muriel-product-blue-0)};

  --color-button-primary-background-hover: #{$muriel-pink-40};
  --color-button-primary-scary-background-hover: #{$muriel-red-40};

  --masterbar-background: var(--color-wpcom);
  --masterbar-border-color: #{$muriel-brand-blue-60};
  --masterbar-color: #{$muriel-white};
  --masterbar-item-hover-background: #{$muriel-brand-blue-70};
  --masterbar-item-active-background: #{$muriel-brand-blue-80};
  --masterbar-item-new-editor-background: #{$muriel-gray-60};
  --masterbar-item-new-editor-hover-background: #{$muriel-gray-50};
  --masterbar-toggle-drafts-editor-background: #{$muriel-gray-50};
  --masterbar-toggle-drafts-editor-border-color: #{$muriel-gray-20};
  --masterbar-toggle-drafts-editor-hover-background: #{$muriel-gray-50};

  --sidebar-background: #{$muriel-white};
  --sidebar-background-gradient: #{hex-to-rgb($muriel-white)};
  --sidebar-secondary-background: #{$muriel-white};
  --sidebar-secondary-background-gradient: #{hex-to-rgb($muriel-white)};
  --sidebar-border-color: #{$muriel-gray-5};
  --sidebar-text-color: #{$muriel-gray-80};
  --sidebar-gridicon-fill: #{$muriel-gray-50};
  --sidebar-heading-color: #{$muriel-gray-50};
  --sidebar-footer-button-color: #{$muriel-gray-70};
  --sidebar-menu-link-secondary-text-color: #{$muriel-gray-70};
  --sidebar-menu-a-first-child-after-background: #{hex-to-rgb($muriel-white)};
  --sidebar-menu-selected-background-color: #{$muriel-product-blue-5};
  --sidebar-menu-selected-a-color: var(--color-primary);
  --sidebar-menu-selected-a-first-child-after-background: #{hex-to-rgb($muriel-product-blue-5)};
  --sidebar-menu-hover-background: #{$muriel-gray-5};
  --sidebar-menu-hover-background-gradient: #{hex-to-rgb($muriel-gray-5)};
  --sidebar-menu-hover-color: #{$muriel-gray-80};

  --color-podcasting: #9b4dd5;

  --color-gray: #{$muriel-gray-50};
  --color-gray-rgb: #{hex-to-rgb($muriel-gray-50)};
  --color-gray-dark: #{$muriel-gray-70};
  --color-gray-dark-rgb: #{hex-to-rgb($muriel-gray-70)};
  --color-gray-light: #{$muriel-gray-30};
  --color-gray-light-rgb: #{hex-to-rgb($muriel-gray-30)};
  --color-gray-0: #{$muriel-gray-0};
  --color-gray-0-rgb: #{hex-to-rgb($muriel-gray-0)};
  --color-gray-50: #{$muriel-gray-5};
  --color-gray-50-rgb: #{hex-to-rgb($muriel-gray-5)};
  --color-gray-100: #{$muriel-gray-10};
  --color-gray-100-rgb: #{hex-to-rgb($muriel-gray-10)};
  --color-gray-200: #{$muriel-gray-20};
  --color-gray-200-rgb: #{hex-to-rgb($muriel-gray-20)};
  --color-gray-300: #{$muriel-gray-30};
  --color-gray-300-rgb: #{hex-to-rgb($muriel-gray-30)};
  --color-gray-400: #{$muriel-gray-40};
  --color-gray-400-rgb: #{hex-to-rgb($muriel-gray-40)};
  --color-gray-500: #{$muriel-gray-50};
  --color-gray-500-rgb: #{hex-to-rgb($muriel-gray-50)};
  --color-gray-600: #{$muriel-gray-60};
  --color-gray-600-rgb: #{hex-to-rgb($muriel-gray-60)};
  --color-gray-700: #{$muriel-gray-70};
  --color-gray-700-rgb: #{hex-to-rgb($muriel-gray-70)};
  --color-gray-800: #{$muriel-gray-80};
  --color-gray-800-rgb: #{hex-to-rgb($muriel-gray-80)};
  --color-gray-900: #{$muriel-gray-90};
  --color-gray-900-rgb: #{hex-to-rgb($muriel-gray-90)};

  --color-blue: #{$muriel-product-blue-50};
  --color-blue-rgb: #{hex-to-rgb($muriel-product-blue-50)};
  --color-blue-dark: #{$muriel-product-blue-70};
  --color-blue-dark-rgb: #{hex-to-rgb($muriel-product-blue-70)};
  --color-blue-light: #{$muriel-product-blue-30};
  --color-blue-light-rgb: #{hex-to-rgb($muriel-product-blue-30)};
  --color-blue-0: #{$muriel-product-blue-0};
  --color-blue-0-rgb: #{hex-to-rgb($muriel-product-blue-0)};
  --color-blue-50: #{$muriel-product-blue-5};
  --color-blue-50-rgb: #{hex-to-rgb($muriel-product-blue-5)};
  --color-blue-100: #{$muriel-product-blue-10};
  --color-blue-100-rgb: #{hex-to-rgb($muriel-product-blue-10)};
  --color-blue-200: #{$muriel-product-blue-20};
  --color-blue-200-rgb: #{hex-to-rgb($muriel-product-blue-20)};
  --color-blue-300: #{$muriel-product-blue-30};
  --color-blue-300-rgb: #{hex-to-rgb($muriel-product-blue-30)};
  --color-blue-400: #{$muriel-product-blue-40};
  --color-blue-400-rgb: #{hex-to-rgb($muriel-product-blue-40)};
  --color-blue-500: #{$muriel-product-blue-50};
  --color-blue-500-rgb: #{hex-to-rgb($muriel-product-blue-50)};
  --color-blue-600: #{$muriel-product-blue-60};
  --color-blue-600-rgb: #{hex-to-rgb($muriel-product-blue-60)};
  --color-blue-700: #{$muriel-product-blue-70};
  --color-blue-700-rgb: #{hex-to-rgb($muriel-product-blue-70)};
  --color-blue-800: #{$muriel-product-blue-80};
  --color-blue-800-rgb: #{hex-to-rgb($muriel-product-blue-80)};
  --color-blue-900: #{$muriel-product-blue-90};
  --color-blue-900-rgb: #{hex-to-rgb($muriel-product-blue-90)};

  --color-hot-blue: #{$muriel-product-blue-50};
  --color-hot-blue-rgb: #{hex-to-rgb($muriel-product-blue-50)};
  --color-hot-blue-dark: #{$muriel-product-blue-70};
  --color-hot-blue-dark-rgb: #{hex-to-rgb($muriel-product-blue-70)};
  --color-hot-blue-light: #{$muriel-product-blue-30};
  --color-hot-blue-light-rgb: #{hex-to-rgb($muriel-product-blue-30)};
  --color-hot-blue-0: #{$muriel-product-blue-0};
  --color-hot-blue-0-rgb: #{hex-to-rgb($muriel-product-blue-0)};
  --color-hot-blue-50: #{$muriel-product-blue-5};
  --color-hot-blue-50-rgb: #{hex-to-rgb($muriel-product-blue-5)};
  --color-hot-blue-100: #{$muriel-product-blue-10};
  --color-hot-blue-100-rgb: #{hex-to-rgb($muriel-product-blue-10)};
  --color-hot-blue-200: #{$muriel-product-blue-20};
  --color-hot-blue-200-rgb: #{hex-to-rgb($muriel-product-blue-20)};
  --color-hot-blue-300: #{$muriel-product-blue-30};
  --color-hot-blue-300-rgb: #{hex-to-rgb($muriel-product-blue-30)};
  --color-hot-blue-400: #{$muriel-product-blue-40};
  --color-hot-blue-400-rgb: #{hex-to-rgb($muriel-product-blue-40)};
  --color-hot-blue-500: #{$muriel-product-blue-50};
  --color-hot-blue-500-rgb: #{hex-to-rgb($muriel-product-blue-50)};
  --color-hot-blue-600: #{$muriel-product-blue-60};
  --color-hot-blue-600-rgb: #{hex-to-rgb($muriel-product-blue-60)};
  --color-hot-blue-700: #{$muriel-product-blue-70};
  --color-hot-blue-700-rgb: #{hex-to-rgb($muriel-product-blue-70)};
  --color-hot-blue-800: #{$muriel-product-blue-80};
  --color-hot-blue-800-rgb: #{hex-to-rgb($muriel-product-blue-80)};
  --color-hot-blue-900: #{$muriel-product-blue-90};
  --color-hot-blue-900-rgb: #{hex-to-rgb($muriel-product-blue-90)};

  --color-purple: #{$muriel-purple-50};
  --color-purple-rgb: #{hex-to-rgb($muriel-purple-50)};
  --color-purple-dark: #{$muriel-purple-70};
  --color-purple-dark-rgb: #{hex-to-rgb($muriel-purple-70)};
  --color-purple-light: #{$muriel-purple-30};
  --color-purple-light-rgb: #{hex-to-rgb($muriel-purple-30)};
  --color-purple-0: #{$muriel-purple-0};
  --color-purple-0-rgb: #{hex-to-rgb($muriel-purple-0)};
  --color-purple-50: #{$muriel-purple-5};
  --color-purple-50-rgb: #{hex-to-rgb($muriel-purple-5)};
  --color-purple-100: #{$muriel-purple-10};
  --color-purple-100-rgb: #{hex-to-rgb($muriel-purple-10)};
  --color-purple-200: #{$muriel-purple-20};
  --color-purple-200-rgb: #{hex-to-rgb($muriel-purple-20)};
  --color-purple-300: #{$muriel-purple-30};
  --color-purple-300-rgb: #{hex-to-rgb($muriel-purple-30)};
  --color-purple-400: #{$muriel-purple-40};
  --color-purple-400-rgb: #{hex-to-rgb($muriel-purple-40)};
  --color-purple-500: #{$muriel-purple-50};
  --color-purple-500-rgb: #{hex-to-rgb($muriel-purple-50)};
  --color-purple-600: #{$muriel-purple-60};
  --color-purple-600-rgb: #{hex-to-rgb($muriel-purple-60)};
  --color-purple-700: #{$muriel-purple-70};
  --color-purple-700-rgb: #{hex-to-rgb($muriel-purple-70)};
  --color-purple-800: #{$muriel-purple-80};
  --color-purple-800-rgb: #{hex-to-rgb($muriel-purple-80)};
  --color-purple-900: #{$muriel-purple-90};
  --color-purple-900-rgb: #{hex-to-rgb($muriel-purple-90)};

  --color-hot-purple: #{$muriel-purple-50};
  --color-hot-purple-rgb: #{hex-to-rgb($muriel-purple-50)};
  --color-hot-purple-dark: #{$muriel-purple-70};
  --color-hot-purple-dark-rgb: #{hex-to-rgb($muriel-purple-70)};
  --color-hot-purple-light: #{$muriel-purple-30};
  --color-hot-purple-light-rgb: #{hex-to-rgb($muriel-purple-30)};
  --color-hot-purple-0: #{$muriel-purple-0};
  --color-hot-purple-0-rgb: #{hex-to-rgb($muriel-purple-0)};
  --color-hot-purple-50: #{$muriel-purple-5};
  --color-hot-purple-50-rgb: #{hex-to-rgb($muriel-purple-5)};
  --color-hot-purple-100: #{$muriel-purple-10};
  --color-hot-purple-100-rgb: #{hex-to-rgb($muriel-purple-10)};
  --color-hot-purple-200: #{$muriel-purple-20};
  --color-hot-purple-200-rgb: #{hex-to-rgb($muriel-purple-20)};
  --color-hot-purple-300: #{$muriel-purple-30};
  --color-hot-purple-300-rgb: #{hex-to-rgb($muriel-purple-30)};
  --color-hot-purple-400: #{$muriel-purple-40};
  --color-hot-purple-400-rgb: #{hex-to-rgb($muriel-purple-40)};
  --color-hot-purple-500: #{$muriel-purple-50};
  --color-hot-purple-500-rgb: #{hex-to-rgb($muriel-purple-50)};
  --color-hot-purple-600: #{$muriel-purple-60};
  --color-hot-purple-600-rgb: #{hex-to-rgb($muriel-purple-60)};
  --color-hot-purple-700: #{$muriel-purple-70};
  --color-hot-purple-700-rgb: #{hex-to-rgb($muriel-purple-70)};
  --color-hot-purple-800: #{$muriel-purple-80};
  --color-hot-purple-800-rgb: #{hex-to-rgb($muriel-purple-80)};
  --color-hot-purple-900: #{$muriel-purple-90};
  --color-hot-purple-900-rgb: #{hex-to-rgb($muriel-purple-90)};

  --color-pink: #{$muriel-pink-50};
  --color-pink-rgb: #{hex-to-rgb($muriel-pink-50)};
  --color-pink-dark: #{$muriel-pink-70};
  --color-pink-dark-rgb: #{hex-to-rgb($muriel-pink-70)};
  --color-pink-light: #{$muriel-pink-30};
  --color-pink-light-rgb: #{hex-to-rgb($muriel-pink-30)};
  --color-pink-0: #{$muriel-pink-0};
  --color-pink-0-rgb: #{hex-to-rgb($muriel-pink-0)};
  --color-pink-50: #{$muriel-pink-5};
  --color-pink-50-rgb: #{hex-to-rgb($muriel-pink-5)};
  --color-pink-100: #{$muriel-pink-10};
  --color-pink-100-rgb: #{hex-to-rgb($muriel-pink-10)};
  --color-pink-200: #{$muriel-pink-20};
  --color-pink-200-rgb: #{hex-to-rgb($muriel-pink-20)};
  --color-pink-300: #{$muriel-pink-30};
  --color-pink-300-rgb: #{hex-to-rgb($muriel-pink-30)};
  --color-pink-400: #{$muriel-pink-40};
  --color-pink-400-rgb: #{hex-to-rgb($muriel-pink-40)};
  --color-pink-500: #{$muriel-pink-50};
  --color-pink-500-rgb: #{hex-to-rgb($muriel-pink-50)};
  --color-pink-600: #{$muriel-pink-60};
  --color-pink-600-rgb: #{hex-to-rgb($muriel-pink-60)};
  --color-pink-700: #{$muriel-pink-70};
  --color-pink-700-rgb: #{hex-to-rgb($muriel-pink-70)};
  --color-pink-800: #{$muriel-pink-80};
  --color-pink-800-rgb: #{hex-to-rgb($muriel-pink-80)};
  --color-pink-900: #{$muriel-pink-90};
  --color-pink-900-rgb: #{hex-to-rgb($muriel-pink-90)};

  --color-hot-pink: #{$muriel-pink-50};
  --color-hot-pink-rgb: #{hex-to-rgb($muriel-pink-50)};
  --color-hot-pink-dark: #{$muriel-pink-70};
  --color-hot-pink-dark-rgb: #{hex-to-rgb($muriel-pink-70)};
  --color-hot-pink-light: #{$muriel-pink-30};
  --color-hot-pink-light-rgb: #{hex-to-rgb($muriel-pink-30)};
  --color-hot-pink-0: #{$muriel-pink-0};
  --color-hot-pink-0-rgb: #{hex-to-rgb($muriel-pink-0)};
  --color-hot-pink-50: #{$muriel-pink-5};
  --color-hot-pink-50-rgb: #{hex-to-rgb($muriel-pink-5)};
  --color-hot-pink-100: #{$muriel-pink-10};
  --color-hot-pink-100-rgb: #{hex-to-rgb($muriel-pink-10)};
  --color-hot-pink-200: #{$muriel-pink-20};
  --color-hot-pink-200-rgb: #{hex-to-rgb($muriel-pink-20)};
  --color-hot-pink-300: #{$muriel-pink-30};
  --color-hot-pink-300-rgb: #{hex-to-rgb($muriel-pink-30)};
  --color-hot-pink-400: #{$muriel-pink-40};
  --color-hot-pink-400-rgb: #{hex-to-rgb($muriel-pink-40)};
  --color-hot-pink-500: #{$muriel-pink-50};
  --color-hot-pink-500-rgb: #{hex-to-rgb($muriel-pink-50)};
  --color-hot-pink-600: #{$muriel-pink-60};
  --color-hot-pink-600-rgb: #{hex-to-rgb($muriel-pink-60)};
  --color-hot-pink-700: #{$muriel-pink-70};
  --color-hot-pink-700-rgb: #{hex-to-rgb($muriel-pink-70)};
  --color-hot-pink-800: #{$muriel-pink-80};
  --color-hot-pink-800-rgb: #{hex-to-rgb($muriel-pink-80)};
  --color-hot-pink-900: #{$muriel-pink-90};
  --color-hot-pink-900-rgb: #{hex-to-rgb($muriel-pink-90)};

  --color-red: #{$muriel-red-50};
  --color-red-rgb: #{hex-to-rgb($muriel-red-50)};
  --color-red-dark: #{$muriel-red-70};
  --color-red-dark-rgb: #{hex-to-rgb($muriel-red-70)};
  --color-red-light: #{$muriel-red-30};
  --color-red-light-rgb: #{hex-to-rgb($muriel-red-30)};
  --color-red-0: #{$muriel-red-0};
  --color-red-0-rgb: #{hex-to-rgb($muriel-red-0)};
  --color-red-50: #{$muriel-red-5};
  --color-red-50-rgb: #{hex-to-rgb($muriel-red-5)};
  --color-red-100: #{$muriel-red-10};
  --color-red-100-rgb: #{hex-to-rgb($muriel-red-10)};
  --color-red-200: #{$muriel-red-20};
  --color-red-200-rgb: #{hex-to-rgb($muriel-red-20)};
  --color-red-300: #{$muriel-red-30};
  --color-red-300-rgb: #{hex-to-rgb($muriel-red-30)};
  --color-red-400: #{$muriel-red-40};
  --color-red-400-rgb: #{hex-to-rgb($muriel-red-40)};
  --color-red-500: #{$muriel-red-50};
  --color-red-500-rgb: #{hex-to-rgb($muriel-red-50)};
  --color-red-600: #{$muriel-red-60};
  --color-red-600-rgb: #{hex-to-rgb($muriel-red-60)};
  --color-red-700: #{$muriel-red-70};
  --color-red-700-rgb: #{hex-to-rgb($muriel-red-70)};
  --color-red-800: #{$muriel-red-80};
  --color-red-800-rgb: #{hex-to-rgb($muriel-red-80)};
  --color-red-900: #{$muriel-red-90};
  --color-red-900-rgb: #{hex-to-rgb($muriel-red-90)};

  --color-hot-red: #{$muriel-red-50};
  --color-hot-red-rgb: #{hex-to-rgb($muriel-red-50)};
  --color-hot-red-dark: #{$muriel-red-70};
  --color-hot-red-dark-rgb: #{hex-to-rgb($muriel-red-70)};
  --color-hot-red-light: #{$muriel-red-30};
  --color-hot-red-light-rgb: #{hex-to-rgb($muriel-red-30)};
  --color-hot-red-0: #{$muriel-red-0};
  --color-hot-red-0-rgb: #{hex-to-rgb($muriel-red-0)};
  --color-hot-red-50: #{$muriel-red-5};
  --color-hot-red-50-rgb: #{hex-to-rgb($muriel-red-5)};
  --color-hot-red-100: #{$muriel-red-10};
  --color-hot-red-100-rgb: #{hex-to-rgb($muriel-red-10)};
  --color-hot-red-200: #{$muriel-red-20};
  --color-hot-red-200-rgb: #{hex-to-rgb($muriel-red-20)};
  --color-hot-red-300: #{$muriel-red-30};
  --color-hot-red-300-rgb: #{hex-to-rgb($muriel-red-30)};
  --color-hot-red-400: #{$muriel-red-40};
  --color-hot-red-400-rgb: #{hex-to-rgb($muriel-red-40)};
  --color-hot-red-500: #{$muriel-red-50};
  --color-hot-red-500-rgb: #{hex-to-rgb($muriel-red-50)};
  --color-hot-red-600: #{$muriel-red-60};
  --color-hot-red-600-rgb: #{hex-to-rgb($muriel-red-60)};
  --color-hot-red-700: #{$muriel-red-70};
  --color-hot-red-700-rgb: #{hex-to-rgb($muriel-red-70)};
  --color-hot-red-800: #{$muriel-red-80};
  --color-hot-red-800-rgb: #{hex-to-rgb($muriel-red-80)};
  --color-hot-red-900: #{$muriel-red-90};
  --color-hot-red-900-rgb: #{hex-to-rgb($muriel-red-90)};

  --color-orange: #{$muriel-orange-50};
  --color-orange-rgb: #{hex-to-rgb($muriel-orange-50)};
  --color-orange-dark: #{$muriel-orange-70};
  --color-orange-dark-rgb: #{hex-to-rgb($muriel-orange-70)};
  --color-orange-light: #{$muriel-orange-30};
  --color-orange-light-rgb: #{hex-to-rgb($muriel-orange-30)};
  --color-orange-0: #{$muriel-orange-0};
  --color-orange-0-rgb: #{hex-to-rgb($muriel-orange-0)};
  --color-orange-50: #{$muriel-orange-5};
  --color-orange-50-rgb: #{hex-to-rgb($muriel-orange-5)};
  --color-orange-100: #{$muriel-orange-10};
  --color-orange-100-rgb: #{hex-to-rgb($muriel-orange-10)};
  --color-orange-200: #{$muriel-orange-20};
  --color-orange-200-rgb: #{hex-to-rgb($muriel-orange-20)};
  --color-orange-300: #{$muriel-orange-30};
  --color-orange-300-rgb: #{hex-to-rgb($muriel-orange-30)};
  --color-orange-400: #{$muriel-orange-40};
  --color-orange-400-rgb: #{hex-to-rgb($muriel-orange-40)};
  --color-orange-500: #{$muriel-orange-50};
  --color-orange-500-rgb: #{hex-to-rgb($muriel-orange-50)};
  --color-orange-600: #{$muriel-orange-60};
  --color-orange-600-rgb: #{hex-to-rgb($muriel-orange-60)};
  --color-orange-700: #{$muriel-orange-70};
  --color-orange-700-rgb: #{hex-to-rgb($muriel-orange-70)};
  --color-orange-800: #{$muriel-orange-80};
  --color-orange-800-rgb: #{hex-to-rgb($muriel-orange-80)};
  --color-orange-900: #{$muriel-orange-90};
  --color-orange-900-rgb: #{hex-to-rgb($muriel-orange-90)};

  --color-hot-orange: #{$muriel-orange-50};
  --color-hot-orange-rgb: #{hex-to-rgb($muriel-orange-50)};
  --color-hot-orange-dark: #{$muriel-orange-70};
  --color-hot-orange-dark-rgb: #{hex-to-rgb($muriel-orange-70)};
  --color-hot-orange-light: #{$muriel-orange-30};
  --color-hot-orange-light-rgb: #{hex-to-rgb($muriel-orange-30)};
  --color-hot-orange-0: #{$muriel-orange-0};
  --color-hot-orange-0-rgb: #{hex-to-rgb($muriel-orange-0)};
  --color-hot-orange-50: #{$muriel-orange-5};
  --color-hot-orange-50-rgb: #{hex-to-rgb($muriel-orange-5)};
  --color-hot-orange-100: #{$muriel-orange-10};
  --color-hot-orange-100-rgb: #{hex-to-rgb($muriel-orange-10)};
  --color-hot-orange-200: #{$muriel-orange-20};
  --color-hot-orange-200-rgb: #{hex-to-rgb($muriel-orange-20)};
  --color-hot-orange-300: #{$muriel-orange-30};
  --color-hot-orange-300-rgb: #{hex-to-rgb($muriel-orange-30)};
  --color-hot-orange-400: #{$muriel-orange-40};
  --color-hot-orange-400-rgb: #{hex-to-rgb($muriel-orange-40)};
  --color-hot-orange-500: #{$muriel-orange-50};
  --color-hot-orange-500-rgb: #{hex-to-rgb($muriel-orange-50)};
  --color-hot-orange-600: #{$muriel-orange-60};
  --color-hot-orange-600-rgb: #{hex-to-rgb($muriel-orange-60)};
  --color-hot-orange-700: #{$muriel-orange-70};
  --color-hot-orange-700-rgb: #{hex-to-rgb($muriel-orange-70)};
  --color-hot-orange-800: #{$muriel-orange-80};
  --color-hot-orange-800-rgb: #{hex-to-rgb($muriel-orange-80)};
  --color-hot-orange-900: #{$muriel-orange-90};
  --color-hot-orange-900-rgb: #{hex-to-rgb($muriel-orange-90)};

  --color-yellow: #{$muriel-yellow-50};
  --color-yellow-rgb: #{hex-to-rgb($muriel-yellow-50)};
  --color-yellow-dark: #{$muriel-yellow-70};
  --color-yellow-dark-rgb: #{hex-to-rgb($muriel-yellow-70)};
  --color-yellow-light: #{$muriel-yellow-30};
  --color-yellow-light-rgb: #{hex-to-rgb($muriel-yellow-30)};
  --color-yellow-0: #{$muriel-yellow-0};
  --color-yellow-0-rgb: #{hex-to-rgb($muriel-yellow-0)};
  --color-yellow-50: #{$muriel-yellow-5};
  --color-yellow-50-rgb: #{hex-to-rgb($muriel-yellow-5)};
  --color-yellow-100: #{$muriel-yellow-10};
  --color-yellow-100-rgb: #{hex-to-rgb($muriel-yellow-10)};
  --color-yellow-200: #{$muriel-yellow-20};
  --color-yellow-200-rgb: #{hex-to-rgb($muriel-yellow-20)};
  --color-yellow-300: #{$muriel-yellow-30};
  --color-yellow-300-rgb: #{hex-to-rgb($muriel-yellow-30)};
  --color-yellow-400: #{$muriel-yellow-40};
  --color-yellow-400-rgb: #{hex-to-rgb($muriel-yellow-40)};
  --color-yellow-500: #{$muriel-yellow-50};
  --color-yellow-500-rgb: #{hex-to-rgb($muriel-yellow-50)};
  --color-yellow-600: #{$muriel-yellow-60};
  --color-yellow-600-rgb: #{hex-to-rgb($muriel-yellow-60)};
  --color-yellow-700: #{$muriel-yellow-70};
  --color-yellow-700-rgb: #{hex-to-rgb($muriel-yellow-70)};
  --color-yellow-800: #{$muriel-yellow-80};
  --color-yellow-800-rgb: #{hex-to-rgb($muriel-yellow-80)};
  --color-yellow-900: #{$muriel-yellow-90};
  --color-yellow-900-rgb: #{hex-to-rgb($muriel-yellow-90)};

  --color-hot-yellow: #{$muriel-yellow-50};
  --color-hot-yellow-rgb: #{hex-to-rgb($muriel-yellow-50)};
  --color-hot-yellow-dark: #{$muriel-yellow-70};
  --color-hot-yellow-dark-rgb: #{hex-to-rgb($muriel-yellow-70)};
  --color-hot-yellow-light: #{$muriel-yellow-30};
  --color-hot-yellow-light-rgb: #{hex-to-rgb($muriel-yellow-30)};
  --color-hot-yellow-0: #{$muriel-yellow-0};
  --color-hot-yellow-0-rgb: #{hex-to-rgb($muriel-yellow-0)};
  --color-hot-yellow-50: #{$muriel-yellow-5};
  --color-hot-yellow-50-rgb: #{hex-to-rgb($muriel-yellow-5)};
  --color-hot-yellow-100: #{$muriel-yellow-10};
  --color-hot-yellow-100-rgb: #{hex-to-rgb($muriel-yellow-10)};
  --color-hot-yellow-200: #{$muriel-yellow-20};
  --color-hot-yellow-200-rgb: #{hex-to-rgb($muriel-yellow-20)};
  --color-hot-yellow-300: #{$muriel-yellow-30};
  --color-hot-yellow-300-rgb: #{hex-to-rgb($muriel-yellow-30)};
  --color-hot-yellow-400: #{$muriel-yellow-40};
  --color-hot-yellow-400-rgb: #{hex-to-rgb($muriel-yellow-40)};
  --color-hot-yellow-500: #{$muriel-yellow-50};
  --color-hot-yellow-500-rgb: #{hex-to-rgb($muriel-yellow-50)};
  --color-hot-yellow-600: #{$muriel-yellow-60};
  --color-hot-yellow-600-rgb: #{hex-to-rgb($muriel-yellow-60)};
  --color-hot-yellow-700: #{$muriel-yellow-70};
  --color-hot-yellow-700-rgb: #{hex-to-rgb($muriel-yellow-70)};
  --color-hot-yellow-800: #{$muriel-yellow-80};
  --color-hot-yellow-800-rgb: #{hex-to-rgb($muriel-yellow-80)};
  --color-hot-yellow-900: #{$muriel-yellow-90};
  --color-hot-yellow-900-rgb: #{hex-to-rgb($muriel-yellow-90)};

  --color-green: #{$muriel-green-50};
  --color-green-rgb: #{hex-to-rgb($muriel-green-50)};
  --color-green-dark: #{$muriel-green-70};
  --color-green-dark-rgb: #{hex-to-rgb($muriel-green-70)};
  --color-green-light: #{$muriel-green-30};
  --color-green-light-rgb: #{hex-to-rgb($muriel-green-30)};
  --color-green-0: #{$muriel-green-0};
  --color-green-0-rgb: #{hex-to-rgb($muriel-green-0)};
  --color-green-50: #{$muriel-green-5};
  --color-green-50-rgb: #{hex-to-rgb($muriel-green-5)};
  --color-green-100: #{$muriel-green-10};
  --color-green-100-rgb: #{hex-to-rgb($muriel-green-10)};
  --color-green-200: #{$muriel-green-20};
  --color-green-200-rgb: #{hex-to-rgb($muriel-green-20)};
  --color-green-300: #{$muriel-green-30};
  --color-green-300-rgb: #{hex-to-rgb($muriel-green-30)};
  --color-green-400: #{$muriel-green-40};
  --color-green-400-rgb: #{hex-to-rgb($muriel-green-40)};
  --color-green-500: #{$muriel-green-50};
  --color-green-500-rgb: #{hex-to-rgb($muriel-green-50)};
  --color-green-600: #{$muriel-green-60};
  --color-green-600-rgb: #{hex-to-rgb($muriel-green-60)};
  --color-green-700: #{$muriel-green-70};
  --color-green-700-rgb: #{hex-to-rgb($muriel-green-70)};
  --color-green-800: #{$muriel-green-80};
  --color-green-800-rgb: #{hex-to-rgb($muriel-green-80)};
  --color-green-900: #{$muriel-green-90};
  --color-green-900-rgb: #{hex-to-rgb($muriel-green-90)};

  --color-hot-green: #{$muriel-green-50};
  --color-hot-green-rgb: #{hex-to-rgb($muriel-green-50)};
  --color-hot-green-dark: #{$muriel-green-70};
  --color-hot-green-dark-rgb: #{hex-to-rgb($muriel-green-70)};
  --color-hot-green-light: #{$muriel-green-30};
  --color-hot-green-light-rgb: #{hex-to-rgb($muriel-green-30)};
  --color-hot-green-0: #{$muriel-green-0};
  --color-hot-green-0-rgb: #{hex-to-rgb($muriel-green-0)};
  --color-hot-green-50: #{$muriel-green-5};
  --color-hot-green-50-rgb: #{hex-to-rgb($muriel-green-5)};
  --color-hot-green-100: #{$muriel-green-10};
  --color-hot-green-100-rgb: #{hex-to-rgb($muriel-green-10)};
  --color-hot-green-200: #{$muriel-green-20};
  --color-hot-green-200-rgb: #{hex-to-rgb($muriel-green-20)};
  --color-hot-green-300: #{$muriel-green-30};
  --color-hot-green-300-rgb: #{hex-to-rgb($muriel-green-30)};
  --color-hot-green-400: #{$muriel-green-40};
  --color-hot-green-400-rgb: #{hex-to-rgb($muriel-green-40)};
  --color-hot-green-500: #{$muriel-green-50};
  --color-hot-green-500-rgb: #{hex-to-rgb($muriel-green-50)};
  --color-hot-green-600: #{$muriel-green-60};
  --color-hot-green-600-rgb: #{hex-to-rgb($muriel-green-60)};
  --color-hot-green-700: #{$muriel-green-70};
  --color-hot-green-700-rgb: #{hex-to-rgb($muriel-green-70)};
  --color-hot-green-800: #{$muriel-green-80};
  --color-hot-green-800-rgb: #{hex-to-rgb($muriel-green-80)};
  --color-hot-green-900: #{$muriel-green-90};
  --color-hot-green-900-rgb: #{hex-to-rgb($muriel-green-90)};

  --color-celadon: #{$muriel-celadon-50};
  --color-celadon-rgb: #{hex-to-rgb($muriel-celadon-50)};
  --color-celadon-dark: #{$muriel-celadon-70};
  --color-celadon-dark-rgb: #{hex-to-rgb($muriel-celadon-70)};
  --color-celadon-light: #{$muriel-celadon-30};
  --color-celadon-light-rgb: #{hex-to-rgb($muriel-celadon-30)};
  --color-celadon-0: #{$muriel-celadon-0};
  --color-celadon-0-rgb: #{hex-to-rgb($muriel-celadon-0)};
  --color-celadon-50: #{$muriel-celadon-5};
  --color-celadon-50-rgb: #{hex-to-rgb($muriel-celadon-5)};
  --color-celadon-100: #{$muriel-celadon-10};
  --color-celadon-100-rgb: #{hex-to-rgb($muriel-celadon-10)};
  --color-celadon-200: #{$muriel-celadon-20};
  --color-celadon-200-rgb: #{hex-to-rgb($muriel-celadon-20)};
  --color-celadon-300: #{$muriel-celadon-30};
  --color-celadon-300-rgb: #{hex-to-rgb($muriel-celadon-30)};
  --color-celadon-400: #{$muriel-celadon-40};
  --color-celadon-400-rgb: #{hex-to-rgb($muriel-celadon-40)};
  --color-celadon-500: #{$muriel-celadon-50};
  --color-celadon-500-rgb: #{hex-to-rgb($muriel-celadon-50)};
  --color-celadon-600: #{$muriel-celadon-60};
  --color-celadon-600-rgb: #{hex-to-rgb($muriel-celadon-60)};
  --color-celadon-700: #{$muriel-celadon-70};
  --color-celadon-700-rgb: #{hex-to-rgb($muriel-celadon-70)};
  --color-celadon-800: #{$muriel-celadon-80};
  --color-celadon-800-rgb: #{hex-to-rgb($muriel-celadon-80)};
  --color-celadon-900: #{$muriel-celadon-90};
  --color-celadon-900-rgb: #{hex-to-rgb($muriel-celadon-90)};

  --profile-gravatar-user-secondary-info-color: #{$muriel-gray-70};
}
