// The Muriel Color Palette
@import "../../../../../dist/color-variables";

// Grays
$gray: $muriel-gray-40;

// Essentials
$transparent: rgba(255, 255, 255, 0);

// Layout
$masterbar-color: $muriel-brand-blue-50;
$sidebar-bg-color: $muriel-gray-0;
