// Color overrides for Bootstrap

$white: $studio-white;
$black: $studio-black;

$gray-100: $studio-gray-0;
$gray-200: $studio-gray-5;
$gray-300: $studio-gray-10;
$gray-400: $studio-gray-20;
$gray-500: $studio-gray-30;
$gray-600: $studio-gray-50;
$gray-700: $studio-gray-70;
$gray-800: $studio-gray-90;
$gray-900: $studio-gray-100;

$blue:    $studio-blue-50;
$indigo:  mix($studio-blue-50, $studio-purple-50);
$purple:  $studio-purple-50;
$pink:    $studio-pink-50;
$red:     $studio-red-50;
$orange:  $studio-orange-30;
$yellow:  $studio-yellow-30;
$green:   $studio-green-50;
$teal:    $studio-celadon-50;
$cyan:    mix($studio-celadon-50, $studio-blue-50);

$body-color:       $studio-gray-60;
$link-color:       $studio-blue-50;
$link-hover-color: $studio-blue-60;

$input-border-color:    $studio-gray-10;
$input-btn-focus-color: $studio-blue-10;

$navbar-light-color:          $studio-gray-50;
$navbar-light-hover-color:    $studio-gray-60;
$navbar-light-active-color:   $studio-gray-70;
$navbar-light-disabled-color: $studio-gray-30;
$navbar-light-brand-color:    $studio-gray-100;
