// Color overrides for Bootstrap

$white: $muriel-white;
$black: $muriel-black;

$gray-100: $muriel-gray-0;
$gray-200: $muriel-gray-5;
$gray-300: $muriel-gray-10;
$gray-400: $muriel-gray-20;
$gray-500: $muriel-gray-30;
$gray-600: $muriel-gray-50;
$gray-700: $muriel-gray-70;
$gray-800: $muriel-gray-90;
$gray-900: $muriel-gray-100;

$blue:    $muriel-blue-50;
$indigo:  mix($muriel-blue-50, $muriel-purple-50);
$purple:  $muriel-purple-50;
$pink:    $muriel-pink-50;
$red:     $muriel-red-50;
$orange:  $muriel-orange-30;
$yellow:  $muriel-yellow-30;
$green:   $muriel-green-50;
$teal:    $muriel-celadon-50;
$cyan:    mix($muriel-celadon-50, $muriel-blue-50);

$body-color:       $muriel-gray-60;
$link-color:       $muriel-blue-50;
$link-hover-color: $muriel-blue-60;

$input-border-color:    $muriel-gray-10;
$input-btn-focus-color: $muriel-blue-10;

$navbar-light-color:          $muriel-gray-50;
$navbar-light-hover-color:    $muriel-gray-60;
$navbar-light-active-color:   $muriel-gray-70;
$navbar-light-disabled-color: $muriel-gray-30;
$navbar-light-brand-color:    $muriel-gray-100;
